.modal {
  margin-top: 55px;
}

.club-header {
  background: #353f48;
  margin-top: 55px;
  padding: .75rem .25rem;
}

.club-header h3 {
  color: #fff;
  font-size: 1.5em;
  margin: 0;
}

.club-header img {
  width: 55px;
}

.club-header i {
  background: #fff;
  border-radius: 50%;
  color: #be0346;
  display: block;
  font-size: 3em;
  padding: 5px;
}

.club-header .subname {
  color: #979797;
  display: block;
  font-weight: bold;
  font-size: .8em;
}

.club-menu {
  background: #353f48;
  border-top: 1px solid #414E5B;
  padding-top: 5px;
}

.club-menu ul {
  padding: 0;
}

.club-menu ul li {
  padding: .25em;
  display: inline-block;
  text-align: center;
  min-width: 55px;
}

.club-menu ul li.active a {
  color: #89be38;
  pointer-events: none;
}

.club-menu ul li.active a:hover {
  color: #89be38;
}

.club-menu ul li a {
  color: #ccc;
  display: block;
}

.club-menu ul li a:hover {
  color: #fff;
}

.club-menu ul li a i {
  display: block;
  font-size: 32px;
}

.club-menu ul li a span {
  font-size: .7em;
  text-align: center;
  text-transform: uppercase;
}

.season-selector {
  background: #fff;
  border-bottom: 1px solid #E1E1E1;
  padding: 1em 0;
  min-height: 80.53px;
}

.season-selector label {
  display: block;
  font-size: 11px !important;
  font-weight: bold;
  margin-bottom: .25em;
  padding-left: .25em;
}

.season-selector .btn,
.season-selector a {
  font-size: 11px !important;
}

.wrapper {
  background: #ffffff;
}

.title-section {
  font-size: 1.15em;
  font-weight: bold;
  margin: 0;
  padding: .5rem;
  text-transform: uppercase;
}

.title-section span {
  padding-top: 5px;
  float: left;
}

.title-section a {
  float: right;
  font-size: 1.5rem;
}

.title-position {
  background: #ECECEC;
  border-bottom: 1px solid #E2E2E2;
  border-top: 1px solid #E2E2E2;
}

.title-position .container {
  position: relative;
}

.title-position h4 {
  float: left;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
  padding: .75em .5em;
  text-transform: uppercase;
}

.title-position img {
  float: right;
  height: 25px;
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 1em;
  top: 0;
}

.title-position i {
  float: right;
}

.club-player-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
  margin: 1rem .5rem 0 .5rem;
  position: relative;
  text-align: center;
}

.club-player-card .player-img {
  display: inline-block;
  margin: 0;
}

.club-player-card .player-img img {
  width: 96px;
}

.club-player-card .ball {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 28px;
}

.club-player-card .overall-rating {
  font-size: .9em;
  font-weight: bold;
  left: 6px;
  position: absolute;
  top: 28px;
}

.club-player-card .position {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  font-size: 1.2em;
  font-weight: bold;
  left: 6px;
  line-height: 18px;
  position: absolute;
  top: 6px;
}

.club-player-card .player-name {
  background: #EAEAEA;
  border-top: 1px solid #ddd;
  line-height: 18px;
  text-align: center;
}

.club-player-card .player-name span {
  font-size: .75em;
  font-weight: bold;
}

.club-player-card .more-data {
  background: #FDFDFD;
  border-top: 1px solid #ddd;
  line-height: 14px;
  padding: .2em;
  text-align: center;
}

.club-player-card .more-data span {
  display: block;
  font-size: .7em;
}

.club-info .avatar {
  position: absolute;
  top: -1.75em;
  right: .5em;
  width: 55px;
  padding: .25em;
}

.club-info .details {
  list-style: none;
  padding: 0;
}

.club-info .details li {
  font: 13px/24px  Arial, Helvetica;
  margin-left: 8px;
  padding-left: 5px;
  position: relative;
  width: 100%;
}

.club-info .details li::before {
  background: #FFB632;
  border-radius: 50%;
  content: " ";
  height: 5px;
  left: -6px;
  position: absolute;
  top: 10px;
  width: 5px;
}

.tops {
  font-size: .9em;
  padding: 2px 8px 0 8px;
}

.tops .img {
  display: inline-block;
}

.tops .img img {
  background: #f9f9f9;
  border: 1px solid #ddd;
  width: 32px;
}

.tops .age {
  display: inline-block;
  margin-left: .5rem;
  max-width: 52px;
  min-width: 52px;
}

.tops .overall_rating {
  display: inline-block;
  margin-left: .5rem;
  max-width: 20px;
  min-width: 20px;
}

.tops .overall_rating span {
  display: block;
  text-align: center;
}

.tops .ball {
  display: inline-block;
  margin-left: .5rem;
}

.tops .ball img {
  width: 20px;
}

.tops .position {
  display: inline-block;
  margin-left: .5rem;
  max-width: 29px;
  min-width: 29px;
  text-align: center;
}

.tops .name {
  display: inline-block;
  margin-left: .5rem;
}

.economy .item {
  background: #fff;
  border: .05rem solid #efefef;
  border-radius: 4px;
  position: relative;
  margin-bottom: 1em;
}

.economy .item:last-child {
  margin-bottom: 0;
}

.economy .item .date {
  padding: 1rem 1rem 0 1rem;
  font-size: .7em;
}

.economy .item .description {
  font-size: .9em;
  padding: .5em 1rem 1rem 1rem;
}

.economy .item .data {
  margin: 1em 1em 1em 1em;
  border-radius: 3px;
}

.economy .item .data.money-in {
  background-color: #f9fff5;
  border: 0.05rem solid #deffc2;
}

.economy .item .data.money-in * {
  color: #4ea800;
}

.economy .item .data.money-out {
  background-color: #fffcfd;
  border: 0.05rem solid #fdeaea;
}

.economy .item .data.money-out * {
  color: #ef696c;
}

.economy .item .data .type {
  display: inline-block;
  padding: .5em .5em .5em 1em;
  display: table-cell;
}

.economy .item .data .type * {
  vertical-align: middle;
}

.economy .item .data .type i {
  font-size: 1.5em;
}

.economy .item .data .type span {
  padding-left: .25em;
  font-size: .8em;
  text-transform: uppercase;
}

.economy .item .data .amount {
  display: inline-block;
  font-weight: bold;
  padding: .5em 0 .5em .5em;
  text-align: right;
}

.economy .item .data .cash {
  display: inline-block;
  font-size: .85em;
  padding-right: 1em;
  text-align: right;
}

.economy .empty {
  padding: 1.5em 0;
  text-align: center;
}

.calendar .item {
  background: #fff;
  border-radius: 4px;
  border: .05rem solid #efefef;
  padding: 1em .5em;
  position: relative;
  margin-bottom: 1em;
}

.calendar .item:last-child {
  margin-bottom: 0;
}

.calendar .item.time-limit-exceded {
  background: #fef3f3;
  border: 0.05rem solid #fbdcdd;
}

.calendar .item .local,
.calendar .item .visitor {
  line-height: .9em;
  text-align: center;
}

.calendar .item .local .team-logo,
.calendar .item .visitor .team-logo {
  margin-bottom: .5em;
  width: 30px;
}

.calendar .item .local .team-name,
.calendar .item .visitor .team-name {
  color: #212529;
  font-size: .65em;
  font-weight: bold;
  max-width: 75px;
}

.calendar .item .vs {
  text-align: center;
}

.calendar .item .vs .result {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2c4481), to(#181733));
  background: linear-gradient(180deg, #2c4481 0, #181733);
  border: none;
  border-radius: .2em;
  color: #fff;
  font-size: 1em;
  font-weight: 900;
  line-height: 1em;
  margin-top: .25em;
  width: 3.5em;
}

.calendar .item .match-info {
  text-align: center;
}

.calendar .item .match-info .competition {
  line-height: 1.5em;
  font-size: .6em;
  color: #222;
}

.calendar .item .match-info .competition .logo {
  margin-bottom: .25em;
  border-radius: 4px;
  width: 18px;
}

.calendar .item .match-info .competition div,
.calendar .item .match-info .competition span {
  display: block;
}

.calendar .item .match-info .competition .date-limit {
  padding-top: .5em;
}

.calendar .item .match-info .date {
  display: block;
  font-weight: 900;
  text-transform: uppercase;
}

.calendar .item .match-info .time {
  display: block;
  font-size: .7em;
  font-weight: 400;
}

.calendar .item .match-info .result {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2c4481), to(#181733));
  background: linear-gradient(180deg, #2c4481 0, #181733);
  border: none;
  border-radius: .2em;
  color: #fff;
  font-size: 1.2em;
  font-weight: 900;
  line-height: 1em;
  margin-top: .25em;
  width: 3.5em;
}

.calendar .competition-link {
  margin: 1.25em 0 1.5em 0;
  text-align: center;
}

.calendar .competition-link .btn-link {
  background: #fdc52c;
  border-color: #DDDDDD;
  border-radius: .2em;
  border: none;
  -webkit-box-shadow: 0 0.2rem 0.6rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.2rem 0.6rem 0.1rem rgba(0, 0, 0, 0.2);
  color: #222;
  font-size: .8em;
  font-weight: 900;
  line-height: 1.8em;
  max-width: 14.5rem;
}

.calendar .empty {
  padding: 1.5em 0;
  text-align: center;
}

.club-card {
  background: #fff;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  margin: 15px 5px 0 5px;
  padding: 1em 0;
}

.club-card:hover {
  background: #ecebeb;
}

.club-card ul {
  font-size: .9em;
  line-height: 1.4rem;
  list-style: none;
  padding: 0 1em;
}

.scrolling-wrapper .card {
  display: inline-block;
  background: transparent;
}

.scrolling-wrapper .card.participants {
  border: none;
  max-width: 48px;
  min-width: 48px;
  padding: .25em;
  text-align: center;
}

.scrolling-wrapper .card.participants.active {
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.scrolling-wrapper .card.participants:hover {
  background: rgba(0, 0, 0, 0.1);
}

.scrolling-wrapper .card.participants a {
  text-align: center;
}

.scrolling-wrapper .card.participants a img {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 32px;
}

.scrolling-wrapper .card.participants a span {
  color: #fff;
  display: block;
  font-size: .6em;
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.single-chart {
  width: 100px;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  -webkit-animation: progress 1s ease-out forwards;
          animation: progress 1s ease-out forwards;
}

@-webkit-keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

@media (min-width: 400px) {
  .calendar .item .local .team-logo,
  .calendar .item .visitor .team-logo {
    width: 50px;
  }

  .calendar .item .local .team-name,
  .calendar .item .visitor .team-name {
    font-size: .75em;
  }

  .calendar .item .match-info .competition {
    font-size: .7em;
  }

  .calendar .item .match-info .competition .logo {
    width: 25px;
  }

  .economy .item {
    padding: .5em;
  }
}

@media (min-width: 768px) {
  .calendar .item:hover {
    background-color: #fefbf7;
    border: 0.05rem solid #fceedb;
  }

  .calendar .item:hover .match-info,
  .calendar .item:hover .local,
  .calendar .item:hover .visitor,
  .calendar .item:hover .blank-result {
    opacity: .35;
  }

  .calendar .item.time-limit-exceded:hover {
    background: #fef3f3;
    border: 0.05rem solid #fbdcdd;
  }

  .calendar .item .local,
  .calendar .item .visitor {
    max-width: 150px;
  }

  .calendar .item .local .team-logo,
  .calendar .item .visitor .team-logo {
    display: inline-block;
    width: 40px;
  }

  .calendar .item .local .team-name,
  .calendar .item .visitor .team-name {
    display: inline-block;
    max-width: none;
  }

  .calendar .item .vs {
    min-width: 70px;
  }

  .calendar .item .match-info {
    border-right: .05rem solid #efefef;
    padding: 0 1em;
    text-align: left;
  }

  .calendar .item .match-info .competition {
    font-size: .85em;
    vertical-align: middle;
  }

  .calendar .item .match-info .competition .logo {
    display: inline-block;
    margin-bottom: 0;
    width: 40px;
  }

  .calendar .item .match-info .competition .name {
    padding-left: 10px;
    display: inline-block;
  }

  .calendar .item .match-info .competition .phase,
  .calendar .item .match-info .competition .group,
  .calendar .item .match-info .competition .day,
  .calendar .item .match-info .competition .round,
  .calendar .item .match-info .competition .match {
    display: inline-block;
  }

  .calendar .item .match-info .competition .phase:before,
  .calendar .item .match-info .competition .group:before,
  .calendar .item .match-info .competition .day:before,
  .calendar .item .match-info .competition .round:before,
  .calendar .item .match-info .competition .match:before {
    content: ' - ';
  }

  .calendar .item .match-info .competition .date-limit {
    color: #6c757d;
    font-size: .9em;
    padding-top: 0;
    padding-left: 10px;
  }

  .calendar .item .match-info .competition div {
    display: inline-block;
  }

  .calendar .competition-link {
    position: absolute;
    margin: auto;
    top: 30px;
    left: 0;
    right: 0;
    width: 14.5rem;
    display: none;
  }

  .calendar .empty {
    text-align: left;
  }

  .economy .item {
    display: table;
    padding: 0 .5em;
    width: 100%;
  }

  .economy .item:hover {
    background-color: #fefbf7;
    border: 0.05rem solid #fceedb;
  }

  .economy .item:hover .money-in,
  .economy .item:hover .money-out {
    background: #fff;
    border: .05rem solid #efefef;
  }

  .economy .item:hover .money-in *,
  .economy .item:hover .money-out * {
    color: #6c757d;
  }

  .economy .item .date {
    display: table-cell;
    font-size: .7em;
    padding: 0rem .5rem;
    vertical-align: middle;
    width: 105px;
  }

  .economy .item .description {
    display: table-cell;
    font-size: .9em;
    padding: 0rem .5rem;
    vertical-align: middle;
  }

  .economy .item .description i {
    font-size: 1.7em;
  }

  .economy .item .data {
    width: 175px;
    float: right;
  }

  .economy .empty {
    text-align: left;
  }
}

