@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mmooqf');
  src:  url('../fonts/icomoon.eot?mmooqf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mmooqf') format('truetype'),
    url('../fonts/icomoon.woff?mmooqf') format('woff'),
    url('../fonts/icomoon.svg?mmooqf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-teams:before {
  content: "\e91c";
}
.icon-push-pin:before {
  content: "\e914";
}
.icon-fax:before {
  content: "\e915";
}
.icon-search:before {
  content: "\e916";
}
.icon-negotiation:before {
  content: "\e917";
}
.icon-my-team:before {
  content: "\e918";
}
.icon-sale:before {
  content: "\e919";
}
.icon-search-player:before {
  content: "\e91a";
}
.icon-soccer-player:before {
  content: "\e91b";
}
.icon-admin-panel:before {
  content: "\e90e";
}
.icon-logout:before {
  content: "\e90f";
}
.icon-user-card:before {
  content: "\e910";
}
.icon-notification:before {
  content: "\e911";
}
.icon-xbox-controller:before {
  content: "\e912";
}
.icon-logo:before {
  content: "\e913";
}
.icon-judge:before {
  content: "\e909";
}
.icon-trophy:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e90b";
}
.icon-transfer:before {
  content: "\e90c";
}
.icon-clubs:before {
  content: "\e90d";
}
.icon-soccer-field:before {
  content: "\e904";
}
.icon-microphone:before {
  content: "\e905";
}
.icon-stadium:before {
  content: "\e906";
}
.icon-roster:before {
  content: "\e907";
}
.icon-economy:before {
  content: "\e908";
}
.icon-safe-box:before {
  content: "\e91d";
}
.icon-soccer-assist:before {
  content: "\e901";
}
.icon-whistle:before {
  content: "\e902";
}
.icon-tribunal:before {
  content: "\e903";
}
.icon-soccer-card:before {
  content: "\e900";
}