.cover-page-wrap {
    background-image: url('../img/bg_sp.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 55px;
    min-height: 360px;
    position: relative;
    width: 100%;
}

.cover-page-container {
    background-image: url('../img/bg1.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /*margin-top: 55px;*/
    min-height: 360px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.logos {
	background-color: rgba(0,0,0,.3);
	top: 0;
	left: 0;
	padding: 1em 0;
	position: absolute;
	width: 100%;
}

.logos .logo_game {
    float: left;
    margin-left: 1em;
    height: 30px;
}

.logos .logo_platform {
    float: right;
    /*margin-right: 1em;*/
    height: 40px;
}

.section-title {
    background: #161b35;
    border-bottom: 1px solid #292C5E;
    border-top: 1px solid #292C5E;
    padding: 1em .5em;
}
.section-title h3 {
    color: #00d4e4;
    font-family: 'DINPro-Bold', 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}
.section-title .navigation-buttons a {
    color: #00d4e4;
    font-size: 10px;
    font-weight: bold;
}
.section-title .navigation-buttons .disabled {
    color: #0C646C;
    pointer-events: none;
}
.section-title .navigation-buttons span {
    color: #00d4e4;
    font-size: 10px;
}


@media screen and (min-width: 520px) {
    .cover-page-wrap {
        background-image: url(../img/bg_pc.jpg);
        background-size: cover;
        /*min-height: 540px;*/
    }
    .cover-page-container {
        background-image: url(../img/bg2.png);
        background-size: auto;
        background-position: top center;
        /*min-height: 540px;*/
    }
}


@media screen and (min-width: 767px) {
	.cover-page-wrap {
	}
	.cover-page-container {
		/*background-image: url(../img/bg_1080.png);*/
	}
    .logos {
    }

    .logos .logo_game {
        /*width: 40%;*/
    }

    .logos .logo_platform {
        /*width: 40%;*/
    }

}