.footer {
	color: #bbbbbb;
	background: #353f48;
	font-size: .9em;
	a {
		color: #fff;
		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}
	.navigator {
		background: #546472;
		padding: 1em 0;
		.breadcrumb {
			font-size: .9em;
			.breadcrumb-item {
				a {
					color: #b3b3b3;
				}
				&.active {
					color: #fff;
				}
			}
		}
	}

	.corporate {
		background: #3f4b55;
		border-top: 1px solid lighten(#353f48, 7%);
		padding: 1em 0;
		.logo {
			font-size: 1.15em;
			margin: 0;
			text-align: center;
			figure {
				display: inline-block;
				img {
					height: 24px;
					width: auto;
				}
			}
		}
		.cookies {
			border-top: 1px solid lighten(#353f48, 7%);
			font-size: .9em;
			margin: 0;
			padding: 1em 0;
			text-align: center;
		}
		.legal {
			border-top: 1px solid lighten(#353f48, 7%);
			text-align: center;
			.menu {
				font-size: .9em;
				list-style: none;
				padding: 0;
				margin: 0;
				li {
					display: inline-block;
					padding: 1em .5em 0 .5em;
					&:first-child {
						padding-left: 0;
					}
				}
			}
		}
	}
	.social {
		text-align: center;
		ul {
			list-style: none;
			padding: 0;
			li {
				display: inline-block;
				padding: 0 1em;
			}
		}
	}
	.bottom-fixed {
    	background: #353f48;
    	border-top: 1px solid lighten(#353f48, 7%);
    	bottom: 0;
    	padding: .25em 0;
		position: fixed;
		text-align: center;
    	width: 100%;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}