footer {
	color: #A4A4A4;
	// background: #dcdcdc;
	.corporate {
		// background: #5c6878;
		font-size: .9em;
		font-weight: 300;
		padding: .5em 0;
	}
	.bottom-fixed {
    	background: #be0346;
    	border-top: 1px solid #46081C;
    	bottom: 0;
		position: fixed;
		text-align: center;
    	width: 100%;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}