@import "hamburguer.scss";

header {
	position: relative;
	.top-menu {
		background: #be0346;
		max-height: 54px;
		min-height: 54px;
		padding: 0;
		position: fixed;
		vertical-align: middle;
		width: 100%;
		z-index: 9999;
		h1 {
			font-size: 1em;
			margin: 0;
			padding: 0;
			a {
				color: #fff;
				i {
					font-size: 2.25rem;
					padding-right: .25rem;
					vertical-align: middle;
				}
				span {
					vertical-align: middle;
				}
			}
		}
		nav {
			padding: 0;
			vertical-align: middle;
			.nav {
				.nav-item {
					font-size: 1em;
					padding: 0 .5em;
					&.share {
						span {
							font-size: 1em;
							color: #fff;
						}
						ul {
							list-style: none;
							li {
								display: inline-block;
								a {
									color: #fff;
									font-weight: bold;
								}
							}
						}
					}
					.nav-link {
						border-bottom: 1px solid transparent;
						color: #fff;
						padding: 0 .25em;
						&:hover {
							border-bottom: 1px solid $gray-300;
							color: #fff;
						}
						&.disabled {
							cursor: not-allowed;
						}
					}
					&.current {
						.nav-link {
							border-bottom: 1px solid #ffd900;
						}
					}
				}
			}
		}
		.navbar-brand {
			color: #fff;
			a {
				color: #fff;
				i {
					font-size: 2.25rem;
					padding-right: .25rem;
					vertical-align: middle;
					border: 1px solid white;
				}
				span {
					vertical-align: middle;
				}
			}
		}
		.user {
			color: $gray-600;
			font-size: .9em;
			vertical-align: middle;
			.counter {
				bottom: 0px;
				left: -12px;
				width: 20px;
				position: absolute;
			}
			a {
				color: $gray-400;
				&:hover {
					color: $gray-100;
				}
			}
			.btn-user-menu {
				cursor: pointer;
				.user-img {
					display: inline-block;
					margin: 0;
					padding: 0;
					height: 40px;
					line-height: normal;
					vertical-align: middle;
					width: 40px;
					img {
						border-radius: 50%;
						height: 100%;
						width: auto;
						transition: all 0.25s;
						vertical-align: middle;
						&.guest, &.menu-close {
							// border: 1px solid #000;
							border-radius: 0%;
							filter: invert(100%);
						}
					}
				}
			}
		}
	}
	#menu {
		background: rgba(53, 63, 72, 0.99);
		-webkit-box-shadow: 0px 3px 7px -1px rgba(53,63,72,1);
		-moz-box-shadow: 0px 3px 7px -1px rgba(53,63,72,1);
		box-shadow: 0px 3px 7px -1px rgba(53,63,72,1);
		display: none;
		position: fixed;
		left: 0;
		top: 54px;
		width: 100%;
		z-index: 999;
		nav {
			.nav {
				.nav-item {
					border-left: 4px solid transparent;
					border-top: 1px solid lighten(#353f48, 7%);
					display: block;
					font-size: 1em;
					padding: .25em .75em;
					&:hover {
						background: lighten(#353f48, 6%);
						border-left: 4px solid #89be38;
						.nav-link {
							i, span {
								color: #fff;
							}
						}
					}
					&:first-child {
						border-top: 1px solid transparent;
					}
					&.share {
						background: #fff;
						border-top: none;
						text-align: center;
						&:hover {
							border-left: 4px solid transparent;
						}
						span {
							font-size: .85em;
							color: $primary;
							padding: .25em;
						}
						ul {
							list-style: none;
							padding: 0;
							li {
								display: inline-block;
								a {
									i {
										font-size: 1.5em;
									}
									span {
										line-height: 2em;
									}
									padding: .5em;
								}
							}
						}
					}
					.nav-link {
						border-bottom: 1px solid transparent;
						color: #f9f9f9;
						padding: .25em;
						text-transform: uppercase;
						i {
							color: #858585;
							display: table-cell;
							font-size: 1.75em;
							font-weight: bold;
							vertical-align: middle;
						}
						span {
							color: #C2C2C2;
							display: table-cell;
							font-size: .85em;
							padding-left: 1em;
							vertical-align: middle;
						}
						&.disabled {
							cursor: not-allowed;
						}
					}
					&.current {
						background: lighten(#353f48, 7%);
						border-left: 4px solid #89be38;
						.nav-link {
							i, span {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
	#user-menu {
		background: rgba(29, 36, 74, 0.99);
		-webkit-box-shadow: 0px 3px 7px -1px rgba(53,63,72,1);
		-moz-box-shadow: 0px 3px 7px -1px rgba(53,63,72,1);
		box-shadow: 0px 3px 7px -1px rgba(53,63,72,1);
		display: none;
		position: fixed;
		right: 0;
		top: 54px;
		width: 100%;
		z-index: 999;
		nav {
			.nav {
				.nav-item {
					border-left: 4px solid transparent;
					border-top: 1px solid lighten(#1D244A, 7%);
					display: block;
					font-size: 1em;
					padding: .25em .75em;
					&:hover {
						background: lighten(#1D244A, 6%);
						border-left: 4px solid #00d4e4;
						.nav-link {
							i, span {
								color: #fff;
							}
						}
					}
					// &:first-child {
					// 	border-top: 1px solid transparent;
					// }
					&.share {
						background: #fff;
						border-top: none;
						text-align: center;
						&:hover {
							border-left: 4px solid transparent;
						}
						span {
							font-size: .85em;
							color: $primary;
							padding: .25em;
						}
						ul {
							list-style: none;
							padding: 0;
							li {
								display: inline-block;
								a {
									i {
										font-size: 1.5em;
									}
									span {
										line-height: 2em;
									}
									padding: .5em;
								}
							}
						}
					}
					&.footer {
						background: #fff;
						border-top: none;
						&:hover {
							border-left: 4px solid transparent;
						}
						span {
							font-size: .85em;
							padding: .25em;
						}
						ul {
							// list-style: none;
							padding: 0;
							li {
								display: block;
								a {
									i {
										font-size: 1.5em;
									}
									span {
										line-height: 2em;
									}
									padding: .5em;
								}
							}
						}
					}
					.nav-link {
						border-bottom: 1px solid transparent;
						color: #f9f9f9;
						padding: .25em;
						position: relative;
						text-transform: uppercase;
						&.notifications {
							.counter {
								bottom: 0px;
								color: #fff;
								display: inline-block;
								font-size: .8em;
								left: -8px;
								margin-right: .5em;
								min-width: 20px;
								padding: .5em;
								position: absolute;
							}
						}
						i {
							color: #858585;
							display: table-cell;
							font-size: 1.75em;
							font-weight: bold;
							vertical-align: middle;
						}
						span {
							color: #C2C2C2;
							display: table-cell;
							font-size: .85em;
							padding-left: 1em;
							vertical-align: middle;
						}
						&.disabled {
							cursor: not-allowed;
						}
					}
					&.current {
						background: lighten(#1D244A, 7%);
						border-left: 4px solid #00d4e4;
						.nav-link {
							i, span {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}

	.section {
		background: #E7E7E7;
		.title {
			h2 {
				// color: #d9d9d9;
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 22px;
				font-weight: 900;
				margin: 0;
			}
			.breadcrumb {
				font-size: .8em;
				padding: 0;
				margin-bottom: .1em;
				a {
					color: $gray-500;
					&:hover {
						color: $gray-200;
					}
				}
			}
		}
		.menu {
			border-top: 1px solid #292f35;
			nav {
				padding: .25em 0;
				.nav {
					.nav-item {
						font-size: .9em;
						padding: .25em 1em;
						.nav-link {
							border-bottom: 2px solid transparent;
							color: $gray-500;
							padding: .25em;
							&:hover {
								border-bottom: 1px solid $gray-300;
								color: #fff;
							}
							&.disabled {
								cursor: not-allowed;
							}
						}
						&.current {
							.nav-link {
								border-bottom: 1px solid #ffd900;
							}
						}
						&:first-child {
							padding-left: 0;
						}
					}
				}
			}
		}
		.match {
			border-top: 1px solid #5b5b5b;

				display: table;
				width: 100%;
				.local, .visitor {
					display: table-cell;
					padding-right: 1em;
					text-align: right;
					vertical-align: middle;
					width: 42%;
					.participant {
						display: table-cell;
						padding-right: 1em;
						vertical-align: middle;
						width: 100%;
						.team {
							color: #fff;
							display: block;
							line-height: 1.25em;
							font-size: 1.75em;
						}
						.gamertag {
							color: #abacae;
							display: block;
							font-size: 1em;
						}
					}
					.logo {
						display: table-cell;
						vertical-align: middle;
						img {
							height: 64px;
							width: 64px;
						}
					}

				}
				.result {
					color: #fff;
					display: table-cell;
					font-size: 4em;
					text-align: center;
					font-weight: 500;
					width: 16%;
					&.pending {
						background: #EB9114;
						border-top: 1px solid #cf7f15;
						color: #fff;
						padding: 1em;
					}
					a {
						color: #fff;
						display: block;
						padding: 1em;
					}
				}
				.visitor {
					padding-left: 1em;
					padding-right: 0;
					text-align: left;
					.participant {
						padding-left: 1em;
						padding-right: 0;
					}
				}
		}
	}


}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	header {
		.top-menu {
			nav {
				.nav {
					.nav-item {
						line-height: 53px;
						i {
							display: none;
						}
					}
				}
			}
		}
		#user-menu {
			width: 400px;
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	header {
		.top-menu {
			nav {
				.nav {
					.nav-item {
						padding: 0 .15em;
					}
				}
			}
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	header {
		.top-menu {
			nav {
				.nav {
					.nav-item {
						padding: 0 .5em;
					}
				}
			}
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}