.wrapper {
  background: #ffffff;
}

.market-header {
  background: #353f48;
  margin-top: 55px;
  padding: .75rem .25rem;
}

.market-header .logo {
  display: table-cell;
  vertical-align: middle;
}

.market-header .logo i {
  background: #fff;
  border-radius: 50%;
  color: #be0346;
  display: block;
  font-size: 4em;
  padding: 5px;
}

.market-header .title {
  display: table-cell;
  padding-left: 1em;
  vertical-align: middle;
  position: relative;
}

.market-header .title h3 {
  color: #fff;
  font-size: 1.5em;
  margin: 0;
}

.market-header .title .subtitle {
  color: #AAAAAA;
  display: block;
  font-size: .8em;
}

.market-header .market-state .badge {
  display: inline;
  font-size: .6rem;
  font-weight: normal;
  text-transform: uppercase;
}

.market-menu {
  background: #353f48;
  border-top: 1px solid #414E5B;
}

.market-menu ul {
  padding: 0;
}

.market-menu ul .item {
  display: inline-block;
  min-width: 55px;
  padding: .25em;
  text-align: center;
}

.market-menu ul .item.new-section {
  border-left: 1px solid #414E5B;
  margin-left: .5em;
  padding-left: 1em;
}

.market-menu ul .item.active a {
  color: #89be38;
  pointer-events: none;
}

.market-menu ul .item.active a:hover {
  color: #89be38;
}

.market-menu ul .item a {
  color: #ccc;
  display: block;
  position: relative;
}

.market-menu ul .item a:hover {
  color: #fff;
}

.market-menu ul .item a i {
  display: block;
  font-size: 32px;
}

.market-menu ul .item a span {
  font-size: .7em;
  text-align: center;
  text-transform: uppercase;
}

.market-menu ul .item a .counter {
  border: 1px solid #353f48;
  font-size: .9em;
  min-width: 21px;
  position: absolute;
  right: -5px;
  top: 16px;
}

.transfer {
  background: #f9f9f9;
}

.transfer .header {
  background: #EEEEEE;
  border-bottom: 1px solid #f1eff3;
  padding: .5rem .5rem 1rem .5rem;
}

.transfer .header h2 {
  color: #4ea800;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.3em;
  margin: .5em 0;
  padding: .25rem 0;
}

.transfer .header .filters a {
  background-color: #009bce;
  border-radius: 1rem;
  color: #ffffff;
  cursor: pointer;
  font-size: .9em;
  padding: .6em 1.25em;
}

.transfer .content .item {
  background: #ffffff;
  border-left: 1px solid #f1eff3;
  border-radius: .25rem .25rem 0 0;
  border-right: 1px solid #f1eff3;
  border-top: 1px solid #f1eff3;
  font-size: .9em;
  height: 120px;
  line-height: 1.25em;
  margin: 0 .25rem;
  position: relative;
}

.transfer .content .item.empty {
  height: auto;
  margin: 1em;
  padding: 1em;
  text-align: center;
}

.transfer .content .item .player-img {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 80px;
}

.transfer .content .item .position {
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  font-size: .6em;
  height: 24px;
  line-height: 2.1em;
  padding: .25rem;
  position: absolute;
  left: 5px;
  text-align: center;
  top: 5px;
  width: 24px;
}

.transfer .content .item .player-favorite {
  color: #adb5bd;
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  right: 68px;
  top: 7px;
}

.transfer .content .item .player-favorite i.active {
  color: #ef696c;
}

.transfer .content .item .player-favorite i.inactive {
  color: #adb5bd;
}

.transfer .content .item .player-ball {
  height: 24px;
  position: absolute;
  right: 20px;
  top: 5px;
  width: 24px;
}

.transfer .content .item .name {
  font-size: .85rem;
  font-weight: bold;
  left: 59px;
  position: absolute;
  text-transform: uppercase;
  top: 9px;
}

.transfer .content .item .name .player-info {
  color: #5bc0de;
  cursor: pointer;
  margin-left: .25em;
}

.transfer .content .item .name .player-info:hover {
  color: #28a1c5;
}

.transfer .content .item .icon-position {
  position: absolute;
  right: 48px;
  top: 9px;
  width: 16px;
}

.transfer .content .item .overall {
  border-radius: 50%;
  border: 1px solid #ffffff;
  color: #000000;
  font-size: .8em;
  font-weight: bold;
  height: 24px;
  line-height: 1.35em;
  padding: .25rem;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 5px;
  width: 24px;
}

.transfer .content .item .icon-transfer-out {
  color: #ef696c;
  font-size: 2em;
  left: 69px;
  opacity: .4;
  position: absolute;
  top: 35px;
}

.transfer .content .item .participant-from-logo {
  height: 26px;
  left: 99px;
  position: absolute;
  top: 35px;
  width: 26px;
  opacity: .4;
}

.transfer .content .item .participant-from-name {
  font-size: .6rem;
  font-weight: bold;
  left: 130px;
  position: absolute;
  text-transform: uppercase;
  top: 35px;
  opacity: .4;
}

.transfer .content .item .participant-from-name.none {
  top: 40px;
}

.transfer .content .item .participant-from-subname {
  font-size: .55rem;
  left: 130px;
  position: absolute;
  top: 46px;
  opacity: .4;
}

.transfer .content .item .icon-transfer-in {
  color: #4ea800;
  font-size: 2em;
  left: 89px;
  position: absolute;
  top: 72px;
}

.transfer .content .item .participant-to-logo {
  height: 42px;
  left: 119px;
  position: absolute;
  top: 65px;
  width: 42px;
}

.transfer .content .item .participant-to-name {
  font-size: .8rem;
  font-weight: bold;
  left: 165px;
  position: absolute;
  text-transform: uppercase;
  top: 72px;
}

.transfer .content .item .participant-to-name.none {
  top: 77px;
}

.transfer .content .item .participant-to-subname {
  font-size: .65rem;
  left: 165px;
  position: absolute;
  top: 86px;
}

.transfer .content .item .nation-logo {
  height: 20px;
  left: 32px;
  position: absolute;
  top: 7px;
  width: 20px;
}

.transfer .content .item-header {
  margin: 0 .25rem;
}

.transfer .content .item-header .type {
  float: left;
  font-size: .7em;
  font-weight: bold;
  padding-bottom: .15rem;
  text-transform: uppercase;
}

.transfer .content .item-header .date {
  color: #6c757d;
  font-size: .7em;
  padding-bottom: .15rem;
  float: right;
}

.transfer .content .item-bottom {
  background: #e2e3e5;
  border-radius: 0 0 .25rem .25rem;
  color: #383d41;
  font-size: .8em;
  line-height: 1.25em;
  margin: 0 .25rem 1em .25rem;
  padding: .75em;
  text-transform: uppercase;
}

.transfer .content .item-bottom.cession {
  background: #d1ecf1;
  color: #0c5460;
}

.transfer .content .item-bottom.dismiss {
  background: #f8d7da;
  color: #721c24;
}

.transfer .content .item-bottom.clause {
  background: #d4edda;
  color: #155724;
}

.transfer .content .item-bottom.free {
  background: #fff3cd;
  color: #856404;
}

.transfer .content .item-bottom .cost {
  font-size: 1.25em;
  font-weight: bold;
}

.my-team {
  background: #f9f9f9;
}

.my-team .header {
  background: #F2F2F2;
  padding: .5rem 0;
  position: relative;
}

.my-team .header .logo {
  -webkit-box-shadow: 14px 0px 9px -11px #949494;
  box-shadow: 14px 0px 9px -11px #949494;
  margin-left: .5rem;
  margin-right: 1rem;
  padding-right: .5rem;
  vertical-align: top;
  width: 75px;
}

.my-team .header .participant {
  display: inline-block;
  padding-top: .5rem;
}

.my-team .header .participant .name {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}

.my-team .header .participant .subname {
  color: #6c757d;
  display: block;
  font-size: .8em;
}

.my-team .content {
  position: relative;
}

.my-team .content .info {
  background: #ffffff;
}

.my-team .content .info .item {
  border-top: 1px solid #f1eff3;
  font-size: .9em;
  line-height: 1.8em;
  padding: .5rem .25rem;
  vertical-align: middle;
}

.my-team .content .info .item .title {
  color: #6c757d;
  float: left;
}

.my-team .content .info .item .description {
  float: right;
  text-align: right;
}

.my-team .content .info .item .description.budget {
  position: relative;
}

.my-team .content .info .item .description.budget .data {
  font-size: 1.2em;
  font-weight: bold;
}

.my-team .content .info .item .description.budget .icon {
  position: absolute;
  right: 80px;
  top: 2px;
  font-size: 1.75em;
  color: #646B80;
}

.my-team .content .info .item .description .data {
  font-size: 1em;
}

.my-team .content .info .item .description .info {
  color: #6c757d;
  font-size: .75em;
  line-height: 1rem;
  margin-left: .5rem;
}

.my-team .content .info .item .description .warning {
  color: #f0ad4e;
  font-size: .85em;
  margin-left: .5rem;
}

.my-team .content .positions .title {
  background: #F2F2F2;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin: 0;
  padding: .5rem 0;
}

.my-team .content .positions .title .icon {
  margin-top: .25rem;
  width: 16px;
}

.my-team .content .positions .detail .wrap {
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

.my-team .content .positions .detail .wrap .item {
  background: #fff;
  border: 1px solid #E9E9E9;
  border-radius: .25rem;
  font-size: .9em;
  height: 92px;
  line-height: 1.25em;
  margin: .5rem .5rem 0 .5rem;
  position: relative;
}

.my-team .content .positions .detail .wrap .item .player-img {
  bottom: 0;
  left: 0px;
  position: absolute;
  width: 55px;
}

.my-team .content .positions .detail .wrap .item .position {
  border-radius: 50%;
  font-size: .8em;
  height: 24px;
  left: 5px;
  line-height: 1.3em;
  padding-top: .43em;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 24px;
}

.my-team .content .positions .detail .wrap .item .position .text {
  color: #ffffff;
  font-weight: bold;
}

.my-team .content .positions .detail .wrap .item .player-favorite {
  color: #adb5bd;
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  right: 50px;
  top: 7px;
}

.my-team .content .positions .detail .wrap .item .player-favorite i.active {
  color: #ef696c;
}

.my-team .content .positions .detail .wrap .item .player-favorite i.inactive {
  color: #adb5bd;
}

.my-team .content .positions .detail .wrap .item .ball-img {
  height: 24;
  position: absolute;
  right: 20px;
  top: 5px;
  width: 24px;
}

.my-team .content .positions .detail .wrap .item .overall {
  border: 1px solid grey;
  border-radius: 50%;
  font-size: 1em;
  height: 24px;
  line-height: 1.1em;
  padding: .25em;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 5px;
  width: 24px;
}

.my-team .content .positions .detail .wrap .item .overall span {
  color: #000;
  font-size: .8em;
}

.my-team .content .positions .detail .wrap .item .player-name {
  font-size: .9rem;
  font-weight: bold;
  left: 36px;
  position: absolute;
  text-transform: uppercase;
  top: 9px;
}

.my-team .content .positions .detail .wrap .item .player-name .player-info {
  color: #5bc0de;
  cursor: pointer;
  margin-left: .25em;
}

.my-team .content .positions .detail .wrap .item .player-name .player-info:hover {
  color: #28a1c5;
}

.my-team .content .positions .detail .wrap .item .salary {
  color: #6c757d;
  left: 55px;
  position: absolute;
  top: 26px;
}

.my-team .content .positions .detail .wrap .item .salary span {
  display: inline-block;
  font-size: .75em;
  font-weight: 400;
}

.my-team .content .positions .detail .wrap .item .clause {
  color: #6c757d;
  left: 150px;
  position: absolute;
  top: 26px;
}

.my-team .content .positions .detail .wrap .item .clause span {
  display: inline-block;
  font-size: .75em;
  font-weight: 400;
}

.my-team .content .positions .detail .wrap .item .market-icons {
  border-radius: .25rem;
  color: #ffffff;
  font-size: .75em;
  min-width: 25px;
  padding: .1em .3em;
  position: absolute;
  text-align: center;
}

.my-team .content .positions .detail .wrap .item .market-icons.off {
  opacity: .2;
}

.my-team .content .positions .detail .wrap .item .market-icons.transferable {
  background-color: #4ea800;
  left: 55px;
  top: 45px;
}

.my-team .content .positions .detail .wrap .item .market-icons.on-loan {
  background-color: #4ea800;
  left: 85px;
  top: 45px;
}

.my-team .content .positions .detail .wrap .item .market-icons.untransferable {
  background-color: #ef696c;
  left: 115px;
  top: 45px;
}

.my-team .content .positions .detail .wrap .item .sale-price {
  color: #6c757d;
  left: 55px;
  position: absolute;
  top: 65px;
}

.my-team .content .positions .detail .wrap .item .sale-price span {
  display: inline-block;
  font-size: .75em;
  font-weight: 400;
}

.my-team .content .positions .detail .wrap .item .actions {
  bottom: 8px;
  position: absolute;
  right: 8px;
}

.my-team .content .positions .detail .wrap .item .actions button {
  background: #F3F3F3;
  border: 1px solid #DFDDE1;
  font-size: .9em;
}

.my-team .content .positions .detail .wrap .item .actions button:hover {
  color: #ffffff;
  background: #009bce;
  border: 1px solid #0088b5;
}

.my-team .content .positions .detail .wrap .item .actions .dropdown-menu {
  background: #ffffff;
  border: 1px solid #0088b5;
  font-size: .9em;
}

.my-team .content .positions .detail .wrap .item .actions .dropdown-menu .dropdown-header {
  background: #009bce;
  padding: .5rem;
  color: #ffffff;
}

.my-team .content .positions .detail .wrap .item .actions .dropdown-menu .dropdown-header .free {
  color: #FFE093;
  margin-left: .25rem;
}

.my-team .content .positions .detail .wrap .item .actions .dropdown-menu .dropdown-item:hover {
  color: #212529;
  background: #f9f9f9;
}

.my-team .content .positions .detail .wrap .item .actions .dropdown-menu .dropdown-item.disabled {
  color: #adb5bd;
  pointer-events: none;
}

.my-team .content .positions .detail .wrap .item .actions .dropdown-menu .dropdown-item.disabled:hover {
  background: none;
}

.sale {
  background: #f9f9f9;
}

.sale .header {
  background: #F2F2F2;
  border-bottom: 1px solid #f1eff3;
  padding: .5rem .5rem 1rem .5rem;
}

.sale .header h2 {
  color: #4ea800;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.3em;
  margin: .5em 0;
  padding: .25rem 0;
}

.sale .header .filters a {
  background-color: #009bce;
  border-radius: 1rem;
  color: #ffffff;
  cursor: pointer;
  font-size: .9em;
  padding: .6em 1.25em;
}

.sale .content .item {
  background: #ffffff;
  border: 1px solid #f1eff3;
  font-size: .9em;
  height: 140px;
  line-height: 1.25em;
  position: relative;
}

.sale .content .item.empty {
  height: auto;
  margin: 1em;
  padding: 1em;
  text-align: center;
}

.sale .content .item .player-img {
  bottom: 0;
  left: 0px;
  position: absolute;
  width: 110px;
}

.sale .content .item .position {
  border-radius: 50%;
  color: #ffffff;
  font-size: .6em;
  height: 24px;
  left: 5px;
  line-height: 2.1em;
  padding: .25rem;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 24px;
}

.sale .content .item .player-favorite {
  color: #adb5bd;
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  right: 74px;
  top: 7px;
}

.sale .content .item .player-favorite i.active {
  color: #ef696c;
}

.sale .content .item .player-favorite i.inactive {
  color: #adb5bd;
}

.sale .content .item .player-ball {
  height: 24px;
  position: absolute;
  right: 20px;
  top: 5px;
  width: 24px;
}

.sale .content .item .name {
  font-size: .9rem;
  font-weight: bold;
  left: 36px;
  position: absolute;
  text-transform: uppercase;
  top: 9px;
}

.sale .content .item .name .player-info {
  color: #5bc0de;
  cursor: pointer;
  margin-left: .25em;
}

.sale .content .item .name .player-info:hover {
  color: #28a1c5;
}

.sale .content .item .icon-position {
  position: absolute;
  right: 50px;
  top: 7px;
  width: 20px;
}

.sale .content .item .overall {
  border-radius: 50%;
  border: 1px solid #EEEEEE;
  color: #000000;
  font-size: .8em;
  font-weight: bold;
  height: 24px;
  line-height: 1.35em;
  padding: .25rem;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 5px;
  width: 24px;
}

.sale .content .item .participant-logo {
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #f1eff3;
  left: 95px;
  padding: 2px;
  position: absolute;
  top: 40px;
  width: 28px;
}

.sale .content .item .participant-name {
  font-size: .6rem;
  font-weight: bold;
  left: 130px;
  position: absolute;
  text-transform: uppercase;
  top: 41px;
}

.sale .content .item .participant-subname {
  font-size: .55rem;
  left: 130px;
  position: absolute;
  top: 52px;
}

.sale .content .item .nation-logo {
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #f1eff3;
  left: 95px;
  padding: 2px;
  position: absolute;
  top: 70px;
  width: 28px;
}

.sale .content .item .nation-name {
  font-size: .6rem;
  font-weight: bold;
  left: 130px;
  position: absolute;
  text-transform: uppercase;
  top: 76px;
}

.sale .content .item .clause-title {
  font-size: .9em;
  position: absolute;
  right: 95px;
  top: 40px;
}

.sale .content .item .clause-data {
  position: absolute;
  right: 8px;
  top: 40px;
}

.sale .content .item .clause-data .units {
  display: inline-block;
  font-size: .9em;
  font-weight: bold;
}

.sale .content .item .clause-data .measure {
  display: inline-block;
  font-size: .7em;
}

.sale .content .item .price-title {
  font-size: .9em;
  position: absolute;
  right: 95px;
  top: 60px;
}

.sale .content .item .price-data {
  position: absolute;
  right: 8px;
  top: 60px;
}

.sale .content .item .price-data .units {
  display: inline-block;
  font-size: 1.25em;
  font-weight: bold;
}

.sale .content .item .price-data .measure {
  display: inline-block;
}

.sale .content .item .buy-now {
  bottom: 8px;
  position: absolute;
  right: 8px;
}

.sale .content .item .buy-now a {
  font-size: .9em;
}

.sale .content .item-header .date {
  color: #6c757d;
  font-size: .7em;
  padding-bottom: .25rem;
  text-align: right;
}

.sale .content .item-bottom {
  padding-top: .25rem;
}

.sale .content .item-bottom .phrase {
  font-size: .8em;
}

.search {
  background: #f9f9f9;
}

.search .header {
  background: #EEEEEE;
  border-bottom: 1px solid #f1eff3;
  padding: .5rem .5rem 1rem .5rem;
}

.search .header h2 {
  color: #4ea800;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.3em;
  margin: .5em 0;
  padding: .25rem 0;
}

.search .header .filters a {
  background-color: #009bce;
  border-radius: 1rem;
  color: #ffffff;
  cursor: pointer;
  font-size: .9em;
  padding: .6em 1.25em;
}

.search .content .item {
  background: #ffffff;
  border: 1px solid #f1eff3;
  border-radius: .25rem;
  font-size: .9em;
  height: 100px;
  line-height: 1.25em;
  margin: .75rem .75rem 0 .75rem;
  position: relative;
}

.search .content .item.empty {
  height: auto;
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
}

.search .content .item.free {
  border: 1px solid #fae3c4;
  background: #fef9f3;
}

.search .content .item.clause-pay {
  border: 1px solid #fbdcdd;
  background: #fef3f3;
}

.search .content .item .showcase {
  background: #4ea800;
  bottom: -6px;
  font-size: .6rem;
  font-weight: 400;
  left: 12px;
  padding: .25rem .25rem .4rem .25rem;
  position: absolute;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.search .content .item .untransferable {
  background: #ef696c;
  bottom: -6px;
  font-size: .5rem;
  font-weight: 400;
  left: 12px;
  padding: .25rem .25rem .4rem .25rem;
  position: absolute;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.search .content .item .player-img {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 64px;
}

.search .content .item .position {
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  font-size: .6em;
  height: 24px;
  line-height: 2.1em;
  padding: .25rem;
  position: absolute;
  left: 5px;
  text-align: center;
  top: 5px;
  width: 24px;
}

.search .content .item .player-favorite {
  color: #adb5bd;
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  right: 68px;
  top: 7px;
}

.search .content .item .player-favorite i.active {
  color: #ef696c;
}

.search .content .item .player-favorite i.inactive {
  color: #adb5bd;
}

.search .content .item .player-ball {
  height: 24px;
  position: absolute;
  right: 20px;
  top: 5px;
  width: 24px;
}

.search .content .item .name {
  font-size: .85rem;
  font-weight: bold;
  left: 59px;
  position: absolute;
  text-transform: uppercase;
  top: 9px;
}

.search .content .item .name .player-info {
  color: #5bc0de;
  cursor: pointer;
  margin-left: .25em;
}

.search .content .item .name .player-info:hover {
  color: #28a1c5;
}

.search .content .item .icon-position {
  position: absolute;
  right: 48px;
  top: 9px;
  width: 16px;
}

.search .content .item .overall {
  border-radius: 50%;
  border: 1px solid #ffffff;
  color: #000000;
  font-size: .8em;
  font-weight: bold;
  height: 24px;
  line-height: 1.35em;
  padding: .25rem;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 5px;
  width: 24px;
}

.search .content .item .participant-logo {
  height: 26px;
  left: 59px;
  position: absolute;
  top: 35px;
  width: 26px;
}

.search .content .item .participant-logo.none {
  opacity: .5;
}

.search .content .item .participant-name {
  font-size: .6rem;
  font-weight: bold;
  left: 90px;
  position: absolute;
  text-transform: uppercase;
  top: 35px;
}

.search .content .item .participant-name.none {
  color: #f0ad4e;
  top: 40px;
}

.search .content .item .participant-subname {
  font-size: .55rem;
  left: 90px;
  position: absolute;
  top: 46px;
}

.search .content .item .nation-logo {
  height: 20px;
  left: 32px;
  position: absolute;
  top: 7px;
  width: 20px;
}

.search .content .item .nation-name {
  font-size: .6rem;
  font-weight: bold;
  left: 130px;
  position: absolute;
  text-transform: uppercase;
  top: 76px;
}

.search .content .item .clause-title {
  font-size: .9em;
  position: absolute;
  right: 95px;
  top: 40px;
}

.search .content .item .clause-data {
  position: absolute;
  left: 90px;
  top: 68px;
}

.search .content .item .clause-data .units {
  display: inline-block;
  font-size: .9em;
  font-weight: bold;
}

.search .content .item .clause-data .measure {
  display: inline-block;
  font-size: .7em;
}

.search .content .item .price-title {
  font-size: .9em;
  position: absolute;
  right: 95px;
  top: 60px;
}

.search .content .item .price-data {
  position: absolute;
  right: 8px;
  top: 60px;
}

.search .content .item .price-data .units {
  display: inline-block;
  font-size: 1.25em;
  font-weight: bold;
}

.search .content .item .price-data .measure {
  display: inline-block;
}

.search .content .item .clause-pay {
  color: #ef696c;
  bottom: 42px;
  position: absolute;
  right: 8px;
  font-size: 1em;
  font-weight: bold;
}

.search .content .item .actions {
  bottom: 8px;
  position: absolute;
  right: 8px;
}

.search .content .item .actions button {
  background: #F3F3F3;
  border: 1px solid #DFDDE1;
  font-size: .9em;
}

.search .content .item .actions button:hover {
  color: #ffffff;
  background: #009bce;
  border: 1px solid #0088b5;
}

.search .content .item .actions .dropdown-menu {
  background: #ffffff;
  border: 1px solid #0088b5;
  font-size: .9em;
}

.search .content .item .actions .dropdown-menu .dropdown-header {
  background: #009bce;
  padding: .5rem;
  color: #ffffff;
}

.search .content .item .actions .dropdown-menu .dropdown-header .free {
  color: #FFE093;
  margin-left: .25rem;
}

.search .content .item .actions .dropdown-menu .dropdown-item:hover {
  color: #212529;
  background: #f9f9f9;
}

.search .content .item .actions .dropdown-menu .dropdown-item.disabled {
  color: #adb5bd;
  pointer-events: none;
}

.search .content .item .actions .dropdown-menu .dropdown-item.disabled:hover {
  background: none;
}

.teams {
  background: #f9f9f9;
}

.teams .header {
  background: #F2F2F2;
  border-bottom: 1px solid #f1eff3;
  padding: .5rem .5rem 1rem .5rem;
}

.teams .header h2 {
  color: #4ea800;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.3em;
  margin: .5em 0;
  padding: .25rem 0;
}

.teams .content .item {
  background: #ffffff;
  border: 1px solid #E5E5E5;
  height: 155px;
  position: relative;
  margin-top: 1em;
  widows: auto;
}

.teams .content .item:hover {
  border: 1px solid #939ba2;
}

.teams .content .item:hover .team-img {
  background: #fff;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.teams .content .item:hover .title .name,
.teams .content .item:hover .title .subname {
  color: #6c757d;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.teams .content .item .team-img {
  background: #f9f9f9;
  border: 1px solid #f1eff3;
  left: 5px;
  padding: 5px;
  position: absolute;
  top: 5px;
  width: 75px;
  z-index: 1;
  -webkit-box-shadow: 1px -1px 5px 0px #a8a8a8;
  box-shadow: 1px -1px 5px 0px #a8a8a8;
}

.teams .content .item .title {
  background: #eee;
  padding: 5px 10px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.teams .content .item .title .name {
  color: #212529;
  display: block;
  font-size: .9em;
  font-weight: bold;
  padding-left: 80px;
  text-transform: uppercase;
}

.teams .content .item .title .subname {
  color: #6c757d;
  display: block;
  font-size: .7em;
  padding-left: 80px;
}

.teams .content .item .budget {
  color: #212529;
  font-size: .9em;
  font-weight: bold;
  padding-left: 1em;
  position: absolute;
  right: 10px;
  top: 56px;
}

.teams .content .item .budget .measure {
  font-size: .8em;
  font-weight: 400;
}

.teams .content .item .budget-icon {
  color: #646B80;
  font-size: 1.5em;
  position: absolute;
  right: 90px;
  top: 55px;
}

.team {
  background: #f9f9f9;
}

.team .header {
  background: #F2F2F2;
  padding: .5rem 0;
  position: relative;
}

.team .header .logo {
  -webkit-box-shadow: 14px 0px 9px -11px #949494;
  box-shadow: 14px 0px 9px -11px #949494;
  margin-left: .5rem;
  margin-right: 1rem;
  padding-right: .5rem;
  vertical-align: top;
  width: 75px;
}

.team .header .participant {
  display: inline-block;
  padding-top: .5rem;
}

.team .header .participant .name {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}

.team .header .participant .subname {
  color: #6c757d;
  display: block;
  font-size: .8em;
}

.team .content {
  position: relative;
}

.team .content .info {
  background: #ffffff;
}

.team .content .info .item {
  border-top: 1px solid #f1eff3;
  font-size: .9em;
  line-height: 1.8em;
  padding: .5rem .25rem;
  vertical-align: middle;
}

.team .content .info .item .title {
  color: #6c757d;
  float: left;
}

.team .content .info .item .description {
  float: right;
  text-align: right;
}

.team .content .info .item .description.budget {
  position: relative;
}

.team .content .info .item .description.budget .data {
  font-size: 1.2em;
  font-weight: bold;
}

.team .content .info .item .description.budget .icon {
  position: absolute;
  right: 80px;
  top: 2px;
  font-size: 1.75em;
  color: #646B80;
}

.team .content .info .item .description .data {
  font-size: 1em;
}

.team .content .info .item .description .info {
  color: #6c757d;
  font-size: .75em;
  line-height: 1rem;
  margin-left: .5rem;
}

.team .content .info .item .description .warning {
  color: #f0ad4e;
  font-size: .85em;
  margin-left: .5rem;
}

.team .content .positions .title {
  background: #F2F2F2;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin: 0;
  padding: .5rem 0;
}

.team .content .positions .title .icon {
  margin-top: .25rem;
  width: 16px;
}

.team .content .positions .detail .wrap {
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

.team .content .positions .detail .wrap .item {
  background: #fff;
  border: 1px solid #E9E9E9;
  border-radius: .25rem;
  font-size: .9em;
  height: 86px;
  line-height: 1.25em;
  margin: .5rem .5rem 0 .5rem;
  position: relative;
}

.team .content .positions .detail .wrap .item.transferable {
  border: 1px solid #C1D9C4;
  background: #F6FFF7;
}

.team .content .positions .detail .wrap .item.untransferable {
  border: 1px solid #fbdcdd;
  background: #fef3f3;
}

.team .content .positions .detail .wrap .item .player-img {
  bottom: 0;
  left: 0px;
  position: absolute;
  width: 55px;
}

.team .content .positions .detail .wrap .item .position {
  border-radius: 50%;
  font-size: .8em;
  height: 24px;
  left: 5px;
  line-height: 1.3em;
  padding-top: .43em;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 24px;
}

.team .content .positions .detail .wrap .item .position .text {
  color: #ffffff;
  font-weight: bold;
}

.team .content .positions .detail .wrap .item .nation-logo {
  height: 20px;
  left: 32px;
  position: absolute;
  top: 7px;
  width: 20px;
}

.team .content .positions .detail .wrap .item .player-favorite {
  color: #adb5bd;
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  right: 50px;
  top: 7px;
}

.team .content .positions .detail .wrap .item .player-favorite i.active {
  color: #ef696c;
}

.team .content .positions .detail .wrap .item .player-favorite i.inactive {
  color: #adb5bd;
}

.team .content .positions .detail .wrap .item .ball-img {
  height: 24;
  position: absolute;
  right: 20px;
  top: 5px;
  width: 24px;
}

.team .content .positions .detail .wrap .item .overall {
  border: 1px solid grey;
  border-radius: 50%;
  font-size: 1em;
  height: 24px;
  line-height: 1.1em;
  padding: .25em;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 5px;
  width: 24px;
}

.team .content .positions .detail .wrap .item .overall span {
  color: #000;
  font-size: .8em;
}

.team .content .positions .detail .wrap .item .player-name {
  font-size: .9rem;
  font-weight: bold;
  left: 59px;
  position: absolute;
  text-transform: uppercase;
  top: 9px;
}

.team .content .positions .detail .wrap .item .player-name .player-info {
  color: #5bc0de;
  cursor: pointer;
  margin-left: .25em;
}

.team .content .positions .detail .wrap .item .player-name .player-info:hover {
  color: #28a1c5;
}

.team .content .positions .detail .wrap .item .salary {
  color: #6c757d;
  left: 59px;
  position: absolute;
  top: 26px;
}

.team .content .positions .detail .wrap .item .salary i {
  font-size: .7em;
}

.team .content .positions .detail .wrap .item .salary span {
  display: inline-block;
  font-size: .75em;
  font-weight: 400;
}

.team .content .positions .detail .wrap .item .clause-data {
  color: #6c757d;
  top: 40px;
  position: absolute;
  left: 59px;
}

.team .content .positions .detail .wrap .item .clause-data .units {
  display: inline-block;
  font-size: .9em;
  font-weight: bold;
}

.team .content .positions .detail .wrap .item .clause-data .measure {
  display: inline-block;
  font-size: .7em;
}

.team .content .positions .detail .wrap .item .market-situation {
  color: #212529;
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.team .content .positions .detail .wrap .item .market-situation.red {
  color: #f18083;
}

.team .content .positions .detail .wrap .item .market-situation.green {
  color: #5ac200;
}

.negotiations {
  background: #f9f9f9;
}

.negotiations .header {
  background: #F2F2F2;
  padding: .5rem 0;
  position: relative;
}

.negotiations .header .logo {
  -webkit-box-shadow: 14px 0px 9px -11px #949494;
  box-shadow: 14px 0px 9px -11px #949494;
  margin-left: .5rem;
  margin-right: 1rem;
  padding-right: .5rem;
  vertical-align: top;
  width: 75px;
}

.negotiations .header .participant {
  display: inline-block;
  padding-top: .5rem;
}

.negotiations .header .participant .name {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}

.negotiations .header .participant .subname {
  color: #6c757d;
  display: block;
  font-size: .8em;
}

.negotiations .selector {
  padding: 1em;
  text-align: center;
}

.negotiations .selector a {
  font-size: .9em;
}

.negotiations .content .offer {
  background: #fff;
  font-size: .9em;
  width: 100%;
  border-bottom: 1px solid #E9E9E9;
  border-top: 1px solid #E9E9E9;
}

.negotiations .content .offer .info {
  background: #F2F2F2;
  border-bottom: 1px solid #E9E9E9;
  padding: .75em 1em;
}

.negotiations .content .offer .info h5 {
  font-size: 1.25em;
}

.negotiations .content .offer .data {
  border-bottom: 1px solid #E9E9E9;
  padding: .75em 1em;
  text-align: center;
}

.negotiations .content .offer .data img {
  padding-bottom: .75em;
}

.negotiations .content .offer .detail {
  font-size: .9em;
  padding: .75em 1em;
}

.negotiations .content .offer .detail .title {
  display: block;
  font-size: .9rem;
  font-weight: bold;
  text-transform: uppercase;
}

.negotiations .content .offer .detail .cash {
  display: block;
  padding: .25em 0;
}

.negotiations .content .offer .detail .players {
  padding: 1em 0;
}

.negotiations .content .offer .detail .players .player {
  display: block;
  padding: .25em 0;
}

.negotiations .content .offer .detail .players .player .player-data {
  display: inline-block;
  font-size: .9em;
  line-height: 1.25em;
  vertical-align: bottom;
}

.negotiations .content .offer .detail .players .player .player-data .sub-name {
  display: block;
  color: #6c757d;
}

.negotiations .content .offer .detail .players .player .player-img {
  display: inline-block;
  margin-left: .25em;
  vertical-align: top;
  width: 28px;
}

.negotiations .content .offer .actions {
  padding: 0em 1em 1em 1em;
  text-align: center;
}

.negotiations .content .offer .actions a {
  font-size: .9em;
}

.negotiations .content .offer .validations {
  border-top: 1px solid #E9E9E9;
  padding: .75em 1em;
}

.negotiations .content .offer .validations.invalid {
  background: #FFE1E5;
}

.negotiations .content .offer .validations .state {
  font-weight: bold;
  text-align: center;
}

.negotiations .content .offer .validations .warnings {
  font-size: .8em;
  padding-top: 1em;
}

.negotiations .content .offer .validations .warnings .item {
  color: #ef696c;
}

.searchbox {
  margin: .75rem .25rem 0 .25rem;
  font-size: 1em;
  position: relative;
}

.searchbox label {
  color: #1694CA;
  position: absolute;
  left: .625em;
  top: .5em;
}

.searchbox input {
  font-size: .9rem;
  padding-left: 2.25em;
  padding-right: 2em;
}

.searchbox span {
  color: #a1a8ae;
  cursor: pointer;
  position: absolute;
  right: .625em;
  top: .5em;
}

.searchbox span:hover {
  color: #1694CA;
}

.scrolling-wrapper ul {
  display: inline-block;
}

.scrolling-wrapper ul li {
  border: none;
  display: inline-block;
  padding: .25em;
  text-align: center;
}

.scrolling-wrapper ul li.active {
  pointer-events: none;
}

.scrolling-wrapper ul li a {
  text-align: center;
}

.scrolling-wrapper .card {
  display: inline-block;
  background: transparent;
}

.scrolling-wrapper .card.participants {
  border: none;
  max-width: 48px;
  min-width: 48px;
  padding: .25em;
  text-align: center;
}

.scrolling-wrapper .card.participants.active {
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.scrolling-wrapper .card.participants:hover {
  background: rgba(0, 0, 0, 0.1);
}

.scrolling-wrapper .card.participants a {
  text-align: center;
}

.scrolling-wrapper .card.participants a img {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 32px;
}

.scrolling-wrapper .card.participants a span {
  color: #fff;
  display: block;
  font-size: .6em;
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

#filtersModal .modal-body .frmFilter {
  font-size: .9em;
}

#filtersModal .modal-body .frmFilter label {
  padding: .25rem 0;
}

#filtersModal .modal-body .frmFilter .bootstrap-select .dropdown-toggle,
#filtersModal .modal-body .frmFilter .bootstrap-select .dropdown-menu li a {
  font-size: .9em;
}

#filtersModal .modal-body .frmFilter .dropdown-item.active,
#filtersModal .modal-body .frmFilter .dropdown-item:active {
  color: black;
  background-color: #F2F2F2;
}

#filtersModal .modal-body .frmFilter .dropdown-menu .dropdown-item {
  padding: .3em .6em;
}

#viewModal,
#editModal,
#filtersModal {
  margin-top: 55px;
}

.modal-content {
  border: none;
}

.modal-content .modal-header h4 {
  margin: 0;
}

.modal-content .modal-header.primary {
  background-color: #009bce;
  color: #fff;
}

.modal-content .modal-header.primary .close {
  color: #fff;
}

.modal-content .modal-header.info {
  background-color: #5bc0de;
  color: #fff;
}

.modal-content .modal-header.info .close {
  color: #fff;
}

.modal-content .modal-body .card {
  background: #8ba0b8;
  border-radius: .25rem;
  border: 1px solid #f1eff3;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ba0b8', endColorstr='#ffffff', GradientType=0 );
  height: 120px;
  position: relative;
  width: 160px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8ba0b8), color-stop(50%, #a2b3c7), to(white));
  background: linear-gradient(#8ba0b8 0%, #a2b3c7 50%, white 100%);
}

.modal-content .modal-body .card .img {
  bottom: 0;
  left: 30px;
  position: absolute;
  width: 100px;
}

.modal-content .modal-body .card .position {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  left: 5px;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 35px;
}

.modal-content .modal-body .card .overall {
  color: white;
  font-size: 1.6em;
  font-weight: bold;
  left: 5px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 35px;
}

.modal-content .modal-body .card .ball {
  position: absolute;
  right: 8px;
  top: 8px;
}

.modal-content .modal-body .card .ball img {
  width: 36px;
}

.modal-content .modal-body .details {
  font-size: .9em;
}

.modal-content .modal-body .details .detail-item {
  border-bottom: 1px solid #f1eff3;
  padding: .5rem 0;
}

.modal-content .modal-body .details .detail-item .title {
  float: left;
}

.modal-content .modal-body .details .detail-item .data {
  color: #a5a5a7;
  float: right;
}

.modal-content .modal-bottom {
  background-color: #f2f2f2;
  padding: 1rem;
}

.modal-content .modal-bottom a {
  display: block;
  font-size: .9em;
}

@media (min-width: 576px) {
  .team .header .logo {
    margin-left: 0;
  }

  .my-team .header .logo {
    margin-left: 0;
  }

  .negotiations .content .offer {
    background: #fff;
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    border-radius: 8px;
    font-size: 1em;
    margin-bottom: 1.5em;
  }

  .negotiations .content .offer .info {
    border-radius: 8px 8px 0 0;
  }
}

