.left-menu {
	// background-color: #333;
	list-style: none;
	padding: 20px;
 //  	display: table;
	// margin: 0 auto;
	font-size: 1rem;
	li {
		padding: 9px 15px;
		// border-bottom: 1px solid darken(#333, 5%);
	}
	.section {
		// background-color: #333;
		color: $blue;
		font-size: .9em;
		text-transform: uppercase;
	}
	.item {
		// background-color: #343a3f;
		&:hover {
			// background-color: #1d2124;
		}
		&.pending {
			cursor: not-allowed;
			&:hover {
				// background-color: #343a3f;
			}
			a {
				color: #BEC8D2;
				&:hover {
					color: #BEC8D2;
				}
			}
		}
		&.current {
			// background-color: #1d2124;
			a {
				// color: #FFDA16;
				&:hover {
					// color: #FFDA16;
				}
			}

		}
		a {
			color: #929ca7;
			display: block;
			&:hover {
				color: #a2abb4;
			}
		}
	}
}

.admin-content {
	.table {
		line-height: 1.5em;
		thead {
			tr {
				// background: rgba(0, 0, 0, 0.03);
				text-transform: uppercase;
			}
		}
		tbody {
			tr {
				td {
					padding: .5em .75em;
					//dropdown
					.dropdown-toggle[aria-expanded="true"] {
					    background: $gray-100 !important;
					}
					.dropdown-toggle::after {
					    display: none;
					}
					.dropdown-menu {
						background: $gray-100;
						padding: 0;
						.dropdown-item {
							padding: .6em;
							border-bottom: 1px solid $gray-300;
							i {
								text-align: left;
							}
							&:last-child {
								border-bottom: none;
							}
						}
					}
				}
			}
		}
	}
	.regs-info {
		padding-top: .5em;
		font-size: .9em;
		font-weight: 300;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.admin-content {
		.table {
			tbody {
				tr {
					&:hover {
						background: #fdf6ee;
					}
					.actions {
						min-width: 180px;
					}
				}
			}
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}