.pagebrowser {
	font-size: .9em;
	h5 {
		font-family: "Fira Sans Condensed","Helvetica Neue","Helvetica","Arial",sans-serif;
		font-size: 22px;
		font-weight: bold;
	}
	&.form {
		border-bottom: 1px solid $border-color;
	}
}

.area-notifications {

}

.general-options {
	position: relative;
	.rowCountSelected {
		font-size: .8em;
		position: absolute;
		right: 0;
		top: -20px;
	}
}

.main-content {
	table {
		line-height: 1.2em;
		thead {
			tr {
				text-transform: uppercase;
				th {
					padding: 1em .5em;
					vertical-align: middle;
				}
				.select {
					text-align: center;
					padding: .5em .5em .5em 1em;
				}
			}
		}
		tbody {
			tr {
				&.selected {
					background-color: #ebf4fc;
				}
				td {
					padding: .5em;
					vertical-align: middle;
				}
				.select {
					text-align: center;
					padding: .5em .5em .5em 1em;
				}
				.logo, .img {
					padding: .5em .25em;
					text-align: center;
				}
				.name {
					max-width: 1px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				.actions {
					padding: .5em;
					.dropdown-toggle[aria-expanded="true"] {
					    border: 1px solid rgba(0, 0, 0, 0.15);
					    background-color: $gray-100;
					}
					.dropdown-toggle::after {
					    display: none;
					}
					.dropdown-menu {
						background: $gray-100;
						padding: 0;
						.dropdown-item {
							padding: .75em .6em;
							border-bottom: 1px solid $gray-200;
							i {
								text-align: left;
							}
							&:last-child {
								border-bottom: none;
							}
							&:hover {
								background: #fff;
							}
						}
					}
				}
			}
		}
	}

	.regs-info {
		padding-top: .5em;
		font-size: .8em;
		font-weight: 300;
		.pagination {
			margin: 0;
		}
	}

	.filter {
		&.active {
			background: #fff;
		}
	}

	.table-form-content {
		border: none;
		border-radius: 4px;
	}

	.table-form-footer {
		border-top: 1px solid $border-color;
	}

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.pagebrowser {
		&.form {
			border-bottom: none;
		}
	}
	.main-content {
		table {
			thead {
				tr {
					.select {
						padding: .5em;
					}
				}
			}
			tbody {
				tr {
					&:hover {
						.name {
							color: $primary;
						}
						.actions {
							.dropdown-toggle {
								border: 1px solid rgba(0, 0, 0, 0.15);
							}
						}
					}
					.select {
						padding: .5em;
					}
					.actions {
						padding: .5em;
						.dropdown-toggle {
							border: 1px solid transparent;
						}
					}
				}
			}
		}
		.regs-info {
			font-size: .9em;
		}
		.table-form-content {
			border: 1px solid $border-color;
		}
		.table-form-footer {
			border-top: none;
			.no-close {
				font-size: .9rem;
			}
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.pagebrowser {
		h5 {
			font-size: 28px;
		}
	}

}