a.disabled {
   pointer-events: none;
   cursor: not-allowed;
}

.main-content {
	.table {
		line-height: 1em;
		thead {
			tr {
				text-transform: uppercase;
			}
		}
		tbody {
			tr {
				&.selected {
					background-color: #ebf4fc;
				}
				td {
					padding: .5em .75em;
				}
				.actions {
					padding: .5em;
					.dropdown-toggle {
						border: 1px solid $border-color;
					}
					//dropdown
					.dropdown-toggle[aria-expanded="true"] {
					    background: $gray-100 !important;
					}
					.dropdown-toggle::after {
					    display: none;
					}
					.dropdown-menu {
						background: $gray-100;
						padding: 0;
						.dropdown-item {
							padding: .6em;
							border-bottom: 1px solid $gray-300;
							i {
								text-align: left;
							}
							&:last-child {
								border-bottom: none;
							}
						}
					}
				}
			}
		}
	}
	.regs-info {
		padding-top: .5em;
		font-size: .9em;
		font-weight: 300;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.main-content {
		.table {
			tbody {
				tr {
					&:hover {
						// background: #fdf6ee;
						.name {
							color: $primary;
						}
						.actions {
							.dropdown-toggle {
								border: 1px solid $primary;
							}
						}
					}
					.actions {
						.dropdown-toggle {
							border: 1px solid transparent;
						}
					}
				}
			}
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}