// fluid scroll in mobile - all elements
* {
    -webkit-overflow-scrolling: touch;
}

html {
	height: 100%;
}
::-webkit-scrollbar {
    background: transparent;  /* optional: just make scrollbar invisible */
    width: 0px;  /* remove scrollbar space */
}

body {
	height: 100%;
	margin: 0;
}

.wrap {
	height: 100%;
}

.sidebar {
	display: none;
	height: 100%;
	overflow: auto;
	vertical-align: top;
	width: 20%;
	&.left {
		background-color: #f7f9fa;
		.sidebar-content {
			padding: 0;
			.title {
				background-color: #EDF0F0;
				padding: 1.2em;
			}
		}
	}
	.sidebar-content {
		font-size: .9rem;
		padding: 1.2em;
	}
}

.sidebar-mobile {
	background-color: #f7f9fa;
	display: none;
	height: 100%;
	left: 0;
	overflow: auto;
	position: absolute;
	top: 45px;
	width: 100%;
	vertical-align: top;
}

.content {
	display: inline-block;
	height: 100%;
	overflow: auto;
	vertical-align: top;
	width: 100%;
	.top {
		background-color: #4a5f79;
		color: #fff;
		height: 45px;
		width: 100%;
		a {
			border: 1px solid transparent;
			color: #fff;
			display: block;
			font-size: 1.75em;
			padding: .1em .5em;
			&:hover {
				color: #fff;
			}
		}
		h1 {
			border: 1px solid transparent;
			font-size: 1.25em;
			margin: 0;
			padding: .6em;
		}
	}
}

.left-menu {
	list-style: none;
	padding: 1.2em;
	&.mobile {
		padding: .5em;
	}
	li {
		padding: 9px 15px;
	}
	.section {
		color: $blue;
		font-size: .9em;
		text-transform: uppercase;
	}
	.item {
		&.pending {
			cursor: not-allowed;
			&:hover {
			}
			a {
				color: #BEC8D2;
				&:hover {
					color: #BEC8D2;
				}
			}
		}
		&.current {
			a {
				&:hover {
				}
			}
		}
		a {
			color: #929ca7;
			display: block;
			&:hover {
				color: #a2abb4;
			}
		}
	}
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.sidebar {
		display: inline-block;
	}
	.content {
		width: 60%;
		.top {
			display: none;
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}