// fluid scroll in mobile - all elements
* {
    -webkit-overflow-scrolling: touch;
}

html {
	font-family: sans-serif;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
}
::-webkit-scrollbar {
    background: transparent;  /* optional: just make scrollbar invisible */
    width: 0px;  /* remove scrollbar space */
}
body {
	display: flex;
	height: 100%;
	margin: 0px;
	overflow: hidden;
}
#left {
	flex-shrink: 0;
}
.section {
	display: flex;
	height: 100%;
	flex-direction: column;
	&.left {
		// background-color: #333;
		background-color: #f7f9fa;
		flex-shrink: 0;
	}
	&.center {
		background-color: #fff;
	}
	&.right {
		background-color: #fff;
		flex-shrink: 0;
	}
}

.top-left {
	background-color: #333;
	color: white;
	flex-shrink: 0;
	padding: 1em;
}
.top-right {
	background-color: #333;
	color: white;
	display: inline-flex;
	flex-shrink: 0;
	padding: 1em;
}
.bottom {
	flex-grow: 1;
	line-height: 1em;
	overflow-y: auto;
	&.left {
		line-height: 1.5em;
		min-width: 200px;
		.left-menu {
			// background-color: #333;
			list-style: none;
			padding: 20px;
			li {
				padding: 9px 15px;
				// border-bottom: 1px solid darken(#333, 5%);
			}
			.section {
				// background-color: #333;
				color: $blue;
				font-size: .9em;
				text-transform: uppercase;
			}
			.item {
				// background-color: #343a3f;
				&:hover {
					// background-color: #1d2124;
				}
				&.pending {
					cursor: not-allowed;
					&:hover {
						// background-color: #343a3f;
					}
					a {
						color: #BEC8D2;
						&:hover {
							color: #BEC8D2;
						}
					}
				}
				&.current {
					// background-color: #1d2124;
					a {
						// color: #FFDA16;
						&:hover {
							// color: #FFDA16;
						}
					}

				}
				a {
					color: #929ca7;
					display: block;
					&:hover {
						color: #a2abb4;
					}
				}
			}
		}
	}
	&.right {
		line-height: 1.5em;
		min-width: 200px;
		padding: 20px;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	header {
		border-bottom: 1px solid darken($primary, 25%);
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}