.wrapper {
  background: #f9f9f9;
}

.competition-header {
  background: #353f48;
  margin-top: 55px;
  padding: .75rem .25rem;
}

.competition-header .logo {
  display: table-cell;
  vertical-align: middle;
}

.competition-header .logo i {
  background: #fff;
  border-radius: 50%;
  color: #4ea800;
  display: block;
  font-size: 2.75em;
  padding: 8px;
}

.competition-header .title {
  display: table-cell;
  padding-left: 1em;
  vertical-align: middle;
  position: relative;
}

.competition-header .title h3 {
  color: #fff;
  font-size: 1.5em;
  margin: 0;
}

.competition-header .title .subtitle {
  color: #AAAAAA;
  display: block;
  font-size: .8em;
}

.competition-menu {
  background: #353f48;
  border-top: 1px solid #414E5B;
}

.competition-menu ul {
  padding: 0;
}

.competition-menu ul .item {
  display: inline-block;
  min-width: 55px;
  padding: .25em;
  text-align: center;
}

.competition-menu ul .item.new-section {
  border-left: 1px solid #414E5B;
  margin-left: .5em;
  padding-left: 1em;
}

.competition-menu ul .item.active a {
  color: #89be38;
  pointer-events: none;
}

.competition-menu ul .item.active a:hover {
  color: #89be38;
}

.competition-menu ul .item a {
  color: #ccc;
  display: block;
  position: relative;
}

.competition-menu ul .item a:hover {
  color: #fff;
}

.competition-menu ul .item a i {
  display: block;
  font-size: 32px;
}

.competition-menu ul .item a span {
  font-size: .7em;
  text-align: center;
  text-transform: uppercase;
}

.competition-menu ul .item a .counter {
  border: 1px solid #353f48;
  font-size: .9em;
  min-width: 21px;
  position: absolute;
  right: -5px;
  top: 16px;
}

.competitions-list {
  margin: 0;
  padding-bottom: 1em;
}

.competitions-list .competition-item {
  background: #fff;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  margin-top: 1em;
}

.competitions-list .competition-item:hover {
  background: #ecebeb;
}

.competitions-list .competition-item .logo {
  display: inline-block;
  padding: 1em;
  text-align: center;
}

.competitions-list .competition-item .logo img {
  width: 64px;
  border-radius: 4px;
}

.competitions-list .competition-item .links {
  display: inline-block;
  border-left: 1px solid #d8d8d8;
  font-size: .9em;
  padding: 1.5em;
  vertical-align: top;
}

.competitions-list .competition-item .links h5 {
  font-size: .9em;
  font-weight: bold;
  margin: 0;
  padding-bottom: .5em;
  text-transform: uppercase;
}

.competitions-list .competition-item .links ul {
  font-size: .9em;
  line-height: 1.25rem;
  list-style: none;
  padding: 0 1em;
}

.competitions-list .competition-item .links ul li a {
  font-size: 1em;
}

.competition-phase-group-selector {
  background: #fff;
  background: #eee;
  border-bottom: 1px solid #E1E1E1;
  padding: 1em 0;
  text-align: right;
  min-height: 62px;
}

.competition-phase-group-selector .btn,
.competition-phase-group-selector a {
  font-size: 11px !important;
}

.logo_winner {
  top: 5px;
  left: 5px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.logo_winner img {
  width: 32px;
}

.final-results {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #eee;
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
  position: relative;
  overflow-y: hidden;
}

.final-results.compressed {
  max-height: 135px;
}

.final-results #show_button {
  border: 1px solid #eee;
  bottom: 5px;
  font-size: .7em;
  left: 5px;
  padding: .25em .5em;
  position: absolute;
}

.final-results .round-name {
  color: #6c757d;
  text-align: right;
}

.table-results {
  font-size: .9em;
  line-height: 1.2em;
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
}

.table-results thead th {
  border: none;
  padding: 1em .25em;
  text-transform: uppercase;
}

.table-results tbody tr:hover td {
  background: #f5f5f5;
}

.table-results tbody tr:hover .names .name {
  color: #eb9114;
}

.table-results tbody tr:hover .names .description {
  color: #eb9114;
}

.table-results tbody tr:hover .pos {
  color: #eb9114;
}

.table-results tbody tr:hover .pt {
  background: #eb9114;
  border: none;
  color: #fff;
}

.table-results tbody tr:last-child {
  border-bottom: 1px solid #f2f2f2;
}

.table-results tbody tr td {
  background: #fff;
  border-top: 1px solid #f2f2f2;
  font-size: .8rem;
  padding: .35em .25em;
  vertical-align: middle;
}

.table-results tbody tr td.text-zero {
  color: #adb5bd;
}

.table-results tbody tr .names a {
  color: #212529;
}

.table-results tbody tr .names a .description {
  color: #6c757d;
  text-transform: none;
}

.table-results tbody tr .data {
  min-width: 23px;
}

.table-results tbody tr .zones {
  padding-left: .5em;
}

.table-results tbody tr .zones img {
  width: 16px;
}

.table-results tbody tr .pos {
  border-right: 1px solid #f2f2f2;
  padding: .5em;
}

.table-results tbody tr .img {
  padding-left: .5em;
}

.table-results tbody tr .img img {
  width: 24px;
}

.table-results tbody tr .pt {
  padding: 0 .5em;
  background: #f9f9f9;
  border-left: 1px solid #f2f2f2;
}

.table-stats-title {
  font-size: .9em;
  font-weight: bold;
  padding: 0 1.25em .75em 1.25em;
  display: block;
}

.table-stats {
  background: #fff;
  border-top: 1px solid #f2f2f2;
  color: #6c757d;
  font-size: .8em;
  line-height: 1.2em;
}

.table-stats .item {
  border-bottom: 1px solid #f2f2f2;
}

.calendar {
  width: 100%;
}

.calendar .days.inactive {
  opacity: .6;
}

.calendar .days td {
  border-bottom: 1px solid #f2f2f2;
}

.calendar .round-trip td {
  border-bottom: 1px solid #f2f2f2;
  font-size: .8em;
  padding: .5em;
  text-align: center;
}

.calendar .round-trip td span {
  color: #5bc0de;
  text-transform: uppercase;
}

.calendar .matches {
  font-size: .9em;
  line-height: 1.2em;
}

.calendar .matches.inactive td {
  background: #f9f9f9;
  opacity: .6;
}

.calendar .matches.inactive .img img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.calendar .matches td {
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
  padding: .6em .3em;
  vertical-align: middle;
}

.calendar .matches .img img {
  width: 28px;
}

.calendar .matches .score {
  font-weight: bold;
}

.calendar .matches .score .result {
  background: #eb9114;
  color: #fff;
}

.stats {
  background: #fff;
  border-top: 1px solid #f2f2f2;
  font-size: .9em;
  width: 100%;
}

.stats tbody tr td {
  border-bottom: 1px solid #f2f2f2;
  padding: .25em .5em;
  vertical-align: middle;
}

.stats tbody tr .pos {
  border-right: 1px solid #f2f2f2;
  font-size: 1em;
  font-weight: bold;
  text-align: right;
}

.stats tbody tr .player-img {
  padding: 0 .5em;
  vertical-align: bottom;
}

.stats tbody tr .player-img img {
  width: 42px;
}

.stats tbody tr .player-name {
  width: 100%;
}

.stats tbody tr .total {
  font-size: 1em;
  font-weight: bold;
  padding-right: 1em;
  text-align: right;
}

.playoffs .playoffs-box {
  font-size: 0px;
  overflow-x: auto;
  white-space: nowrap;
}

.playoffs .playoffs-table {
  display: inline-block;
  font-size: .9rem;
  vertical-align: middle;
}

.playoffs .playoffs-table thead tr th {
  color: navy;
  font-size: 12.5px;
  padding-bottom: 1em;
  text-transform: uppercase;
}

.playoffs .playoffs-table thead tr .round {
  min-width: 238px;
}

.playoffs .playoffs-table thead tr .line {
  min-width: 15px;
}

.playoffs .playoffs-table tbody td {
  height: 32px;
  padding: 0;
}

.playoffs .playoffs-table tbody .clash {
  background: #fff;
  min-width: 214px;
}

.playoffs .playoffs-table tbody .clash.winner {
  background: #FCFEEE;
}

.playoffs .playoffs-table tbody .clash.winner .participant .name,
.playoffs .playoffs-table tbody .clash.winner .participant .result {
  background: #FCFEEE;
  font-weight: bold;
}

.playoffs .playoffs-table tbody .clash .participant {
  display: block;
  font-size: .8em;
  height: 100%;
}

.playoffs .playoffs-table tbody .clash .participant.local {
  border-left: 1px solid #B3D0A7;
  border-right: 1px solid #B3D0A7;
  border-top: 1px solid #B3D0A7;
  border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
}

.playoffs .playoffs-table tbody .clash .participant.visitor {
  border-left: 1px solid #B3D0A7;
  border-right: 1px solid #B3D0A7;
  border-bottom: 1px solid #B3D0A7;
  border-top: 1px solid #E4E4E4;
  border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
}

.playoffs .playoffs-table tbody .clash .participant .logo {
  border-right: 1px solid #E4E4E4;
  float: left;
  width: 32px;
  height: 100%;
  padding: .25em;
  vertical-align: middle;
}

.playoffs .playoffs-table tbody .clash .participant .logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 24px;
}

.playoffs .playoffs-table tbody .clash .participant .name {
  background: #FBFBFB;
  float: left;
  height: 100%;
  max-width: 150px;
  padding: .5em;
  vertical-align: middle;
  width: 150px;
}

.playoffs .playoffs-table tbody .clash .participant .result {
  border-left: 1px solid #E4E4E4;
  display: block;
  float: right;
  height: 100%;
  padding: .5em;
  text-align: center;
  vertical-align: middle;
  min-width: 34px;
}

.playoffs .playoffs-table tbody .line {
  background-color: transparent;
  min-width: 12px;
}

.playoffs .playoffs-table tbody .line.top {
  border-top: 1px solid #B3D0A7;
}

.playoffs .playoffs-table tbody .line.bottom {
  border-bottom: 1px solid #B3D0A7;
}

.playoffs .playoffs-table tbody .line.right {
  border-right: 1px solid #B3D0A7;
}

.playoffs .playoffs-table tbody .line.left {
  border-left: 1px solid #B3D0A7;
}

.playoffs .round {
  background: #ccc;
}

.playoffs .round .name {
  font-size: 1.1em;
  font-weight: bold;
}

.scrolling-wrapper .card {
  display: inline-block;
  background: transparent;
}

.scrolling-wrapper .card.competitions {
  border: none;
  max-width: 48px;
  min-width: 48px;
  padding: .25em;
  text-align: center;
}

.scrolling-wrapper .card.competitions.active {
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.scrolling-wrapper .card.competitions:hover {
  background: rgba(0, 0, 0, 0.1);
}

.scrolling-wrapper .card.competitions a {
  text-align: center;
}

.scrolling-wrapper .card.competitions a img {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 32px;
}

.scrolling-wrapper .card.competitions a span {
  color: #fff;
  display: block;
  font-size: .6em;
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.modal {
  margin-top: 55px;
}

.match-stadistics {
  width: 100%;
}

.match-stadistics tr td {
  border-top: 1px solid #f2f2f2;
  padding: .5em .25em;
}

@media (min-width: 576px) {
  .table-results tbody {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }

  .table-results tbody .zones {
    border-left: 1px solid #f2f2f2;
  }

  .table-results tbody .pt {
    border-right: 1px solid #f2f2f2;
  }

  .table-stats-title {
    padding: 0 0 .75em 0;
  }

  .table-stats {
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    margin-bottom: 2em;
  }

  .calendar .matches .local {
    border-left: 1px solid #f2f2f2;
  }

  .calendar .matches .visitor {
    border-right: 1px solid #f2f2f2;
  }

  .stats tbody {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
}

@media (min-width: 768px) {
  .table-results tbody .data {
    min-width: 32px;
  }
}

