// Fonts

@import "../variables";

.modal {
  margin-top: 55px;
}

.club-header {
	background: #353f48;
	margin-top: 55px;
	padding: .75rem .25rem;
	h3 {
		color: #fff;
		font-size: 1.5em;
		margin: 0;
	}
	img {
		width: 55px;
	}
	i {
		background: #fff;
		border-radius: 50%;
		color: #be0346;
		display: block;
		font-size: 3em;
		padding: 5px;
	}
	.subname {
		color: #979797;
		display: block;
		font-weight: bold;
		font-size: .8em;
	}
}

.club-menu {
	background: #353f48;
	border-top: 1px solid #414E5B;
	padding-top: 5px;

	ul {
		padding: 0;
		li {
			padding: .25em;
			display: inline-block;
			text-align: center;
			min-width: 55px;
		 	&.active {
		 		a {
		 			color: #89be38;
		 			pointer-events: none;
		 			&:hover {
		 				color: #89be38;
		 			}
		 		}
		 	}
			a {
			 	color: #ccc;
			 	display: block;
			 	&:hover {
			 		color: #fff;
			 	}
			 	i {
			 		display: block;
			 		font-size: 32px;
			 	}
			 	span {
					font-size: .7em;
					text-align: center;
					text-transform: uppercase;
			 	}
			 }
		}
	}
}

.season-selector {
	background: #fff;
	border-bottom: 1px solid #E1E1E1;
	padding: 1em 0;
	min-height: 80.53px;
	label {
		display: block;
		font-size: 11px !important;
		font-weight: bold;
		margin-bottom: .25em;
		padding-left: .25em;
	}
	.btn, a{
	  font-size: 11px !important;
	}
}

.wrapper {
	// background: #f2f2f2;
	background: #ffffff;
}

.title-section {
	font-size: 1.15em;
	font-weight: bold;
	margin: 0;
	padding: .5rem;
	text-transform: uppercase;
	span {
		padding-top: 5px;
		float: left;
	}
	a {
		float: right;
		font-size: 1.5rem;
	}
}
.title-position {
	background: #ECECEC;
	border-bottom: 1px solid #E2E2E2;
	border-top: 1px solid #E2E2E2;
	.container {
		position: relative;
	}
	h4 {
		float: left;
		font-size: 1.1em;
		font-weight: bold;
		margin: 0;
		padding: .75em .5em;
		text-transform: uppercase;
	}
	img {
		float: right;
		height: 25px;
	    bottom: 0;
	    margin: auto;
	    position: absolute;
	    right: 1em;
	    top: 0;
	}
	i {
		float: right;
	}
}
.club-player-card {
	background: #fff;
	border: 1px solid $default-border-color;
	border-radius: 8px 8px 0 0;
	margin: 1rem .5rem 0 .5rem;
	position: relative;
	text-align: center;
	.player-img {
		display: inline-block;
		margin: 0;
		img {
			width: 96px;
		}
	}
	.ball {
		position: absolute;
		right: 6px;
		top: 6px;
		width: 28px;
	}
	.overall-rating {
		font-size: .9em;
		font-weight: bold;
		left: 6px;
		position: absolute;
		top: 28px;
	}
	.position {
		border-bottom-width: 2px;
		border-bottom-style: solid;
		font-size: 1.2em;
		font-weight: bold;
		left: 6px;
		line-height: 18px;
		position: absolute;
		top: 6px;
	}
	.player-name {
		background: #EAEAEA;
		border-top: 1px solid $default-border-color;
		line-height: 18px;
		text-align: center;
		span {
			font-size: .75em;
			font-weight: bold;
		}
	}
	.more-data {
		background: #FDFDFD;
		border-top: 1px solid $default-border-color;
		line-height: 14px;
		padding: .2em;
		text-align: center;
		span {
			display: block;
			font-size: .7em;
		}
	}
}
.club-info {
	.avatar {
		position: absolute;
		top: -1.75em;
		right: .5em;
		width: 55px;
		padding: .25em;
	}
	.details {
		list-style: none;
		padding: 0;
		li {
			font: 13px/24px  Arial, Helvetica;
			margin-left: 8px;
			padding-left: 5px;
			position: relative;
			width: 100%;
			&::before {
				background: #FFB632;
				border-radius: 50%;
				content: " ";
				height: 5px;
				left: -6px;
				position: absolute;
				top: 10px;
				width: 5px;
			}
		}
	}
}
.tops {
	font-size: .9em;
	padding: 2px 8px 0 8px;
	.img {
		display: inline-block;
		img {
			background: #f9f9f9;
			border: 1px solid $default-border-color;
			width: 32px;
		}
	}
	.age {
		display: inline-block;
		margin-left: .5rem;
		max-width: 52px;
		min-width: 52px;
	}
	.overall_rating {
		display: inline-block;
		margin-left: .5rem;
		max-width: 20px;
		min-width: 20px;
		span {
			display: block;
			text-align: center;
		}
	}
	.ball {
		display: inline-block;
		margin-left: .5rem;
		img {
			width: 20px;
		}
	}
	.position {
		display: inline-block;
		margin-left: .5rem;
		max-width: 29px;
		min-width: 29px;
		text-align: center;
	}
	.name {
		display: inline-block;
		margin-left: .5rem;
	}
}

.economy {
	.item {
		background: #fff;
		border: .05rem solid #efefef;
		border-radius: 4px;
		position: relative;
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
		.date {
			padding: 1rem 1rem 0 1rem;
			font-size: .7em;
		}
		.description {
			font-size: .9em;
			padding: .5em 1rem 1rem 1rem;
		}
		.data {
			margin: 1em 1em 1em 1em;
			background: #FCFCFC;
			border: .05rem solid #efefef;
			border-radius: 3px;
			&.money-in {
				background-color: lighten($success, 65%);
				border: .05rem solid lighten($success, 55%);
				* {
					color: $success;
				}
			}
			&.money-out {
				background-color: lighten($danger, 32%);
				border: .05rem solid lighten($danger, 28%);
				* {
					color: $danger;
				}
			}
			.type {
				display: inline-block;
				padding: .5em .5em .5em 1em;
				display: table-cell;
				* {
					vertical-align: middle;
				}
				i {
					font-size: 1.5em;
				}
				span {
					padding-left: .25em;
					font-size: .8em;
					text-transform: uppercase;
				}
			}
			.amount {
				display: inline-block;
				font-weight: bold;
				padding: .5em 0 .5em .5em;
				text-align: right;
			}
			.cash {
				display: inline-block;
				font-size: .85em;
				padding-right: 1em;
				text-align: right;
			}
		}
	}
	.empty {
		padding: 1.5em 0;
		text-align: center;
	}
}

.calendar {
	.item {
		background: #fff;
		border-radius: 4px;
		border: .05rem solid #efefef;
		padding: 1em .5em;
		position: relative;
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
		&.time-limit-exceded {
			background: lighten($danger, 30%);
			border: .05rem solid lighten($danger, 25%);
		}
		.local, .visitor {
			line-height: .9em;
			text-align: center;
			.team-logo {
				margin-bottom: .5em;
				width: 30px;
			}
			.team-name {
				color: $gray-900;
				font-size: .65em;
				font-weight: bold;
				max-width: 75px;
			}
		}
		.vs {
			text-align: center;
			.result {
				background: linear-gradient(180deg,#2c4481 0,#181733);
				border: none;
				border-radius: .2em;
				color: #fff;
				font-size: 1em;
				font-weight: 900;
				line-height: 1em;
				margin-top: .25em;
				width: 3.5em;
			}
		}
		.match-info {
			text-align: center;
			.competition {
				.logo {
					margin-bottom: .25em;
					border-radius: 4px;
					width: 18px;
				}
				line-height: 1.5em;
				font-size: .6em;
				color: #222;
				div, span {
					display: block;
				}
				.date-limit {
					padding-top: .5em;
				}
			}
			.date {
				display: block;
				font-weight: 900;
				text-transform: uppercase;
			}
			.time {
				display: block;
				font-size: .7em;
				font-weight: 400;
			}
			.result {
				background: linear-gradient(180deg,#2c4481 0,#181733);
				border: none;
				border-radius: .2em;
				color: #fff;
				font-size: 1.2em;
				font-weight: 900;
				line-height: 1em;
				margin-top: .25em;
				width: 3.5em;
			}
		}
	}
	.competition-link {
		margin: 1.25em 0 1.5em 0;
		text-align: center;
		.btn-link {
			background: #fdc52c;
			border-color: #DDDDDD;
			border-radius: .2em;
			border: none;
			box-shadow: 0 0.2rem 0.6rem 0.1rem rgba(0,0,0,.2);
			color: #222;
			font-size: .8em;
			font-weight: 900;
			line-height: 1.8em;
			max-width: 14.5rem;
		}
	}
	.empty {
		padding: 1.5em 0;
		text-align: center;
	}
}

.club-card {
	background: #fff;
	border-radius: 4px;
	border: 1px solid #d8d8d8;
	margin: 15px 5px 0 5px;
	padding: 1em 0;
	&:hover {
		background: #ecebeb;
	}
	ul {
		font-size: .9em;
		line-height: 1.4rem;
		list-style: none;
		padding: 0 1em;
	}
}

.scrolling-wrapper {
	.card {
		display: inline-block;
		background: transparent;
		&.participants {
			border: none;
			max-width: 48px;
			min-width: 48px;
			padding: .25em;
			text-align: center;
			&.active {
				background: rgba(0, 0, 0, .30);
				pointer-events: none;
			}
			&:hover {
				background: rgba(0, 0, 0, .1);
			}
			a {
				text-align: center;
				img {
					display: block;
					height: auto;
					margin: 0 auto;
					width: 32px;
				}
				span {
					color: #fff;
					display: block;
					font-size: .6em;
					margin-top: 3px;
  					overflow: hidden;
  					text-overflow: ellipsis;
					text-transform: uppercase;
					white-space: nowrap;
				}
			}
		}
	}
}

.single-chart {
  width: 100px;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}


@media (min-width: 400px) {
	.calendar {
		.item {
			.local, .visitor {
				.team-logo {
					width: 50px;
				}
				.team-name {
					font-size: .75em;
				}
			}
			.match-info {
				.competition {
					.logo {
						width: 25px;
					}
					font-size: .7em;
				}
			}
		}
	}
	.economy {
		.item {
			padding: .5em;
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.calendar {
		.item {
			&:hover {
				background-color: lighten($warning, 36%);
				border: .05rem solid lighten($warning, 30%);
				.match-info, .local, .visitor, .blank-result {
					opacity: .35;
				}
			}
			&.time-limit-exceded {
				&:hover {
					background: lighten($danger, 30%);
					border: .05rem solid lighten($danger, 25%);
				}
			}
			.local, .visitor {
				max-width: 150px;
				.team-logo {
					display: inline-block;
					width: 40px;
				}
				.team-name {
					display: inline-block;
					max-width: none;
				}
			}
			.vs {
				min-width: 70px;
			}
			.match-info {
				border-right: .05rem solid #efefef;
				// display: table;
				padding: 0 1em;
				text-align: left;
				.competition {
					// display: table-cell;
					font-size: .85em;
					vertical-align: middle;
					.logo {
						display: inline-block;
						margin-bottom: 0;
						width: 40px;
					}
					.name {
						padding-left: 10px;
						display: inline-block;
					}
					.phase, .group, .day, .round, .match {
						display: inline-block;
						&:before {
							content: ' - ';
						}
					}
					.date-limit {
						color: $gray-600;
						font-size: .9em;
						padding-top: 0;
						padding-left: 10px;
					}
					div {
						display: inline-block;
					}
				}
			}
		}
		.competition-link {
			position: absolute;
  			margin: auto;
  			top: 30px;
  			left: 0;
  			right: 0;
			width: 14.5rem;
			display: none;
		}
		.empty {
			text-align: left;
		}
	}

	.economy {
		.item {
			display: table;
			padding: 0 .5em;
			width: 100%;
			.date {
				display: table-cell;
				font-size: .7em;
				padding: 0rem .5rem;
				vertical-align: middle;
				width: 105px;
			}
			.description {
				display: table-cell;
				font-size: .9em;
				padding: 0rem .5rem;
				vertical-align: middle;
				i {
					font-size: 1.7em;
				}
			}
			.data {
				width: 175px;
				float: right;

			}
		}
		.empty {
			text-align: left;
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}