// Fonts

@import "../variables";

.club-header {
	background: #353f48;
	margin-top: 55px;
	padding: .75rem .25rem;
	h3 {
		color: #fff;
		font-size: 1.5em;
		margin: 0;
	}
	img {
		width: 55px;
	}
	i {
		background: #fff;
		border-radius: 50%;
		color: #be0346;
		display: block;
		font-size: 3em;
		padding: 5px;
	}
	.subname {
		color: #979797;
		display: block;
		font-weight: bold;
		font-size: .8em;
	}
}

.club-menu {
	background: #353f48;
	// background: rgba(64,88,158,1);
	// background: -moz-linear-gradient(top, rgba(64,88,158,1) 0%, rgba(22,28,51,1) 100%);
	// background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(64,88,158,1)), color-stop(100%, rgba(22,28,51,1)));
	// background: -webkit-linear-gradient(top, rgba(64,88,158,1) 0%, rgba(22,28,51,1) 100%);
	// background: -o-linear-gradient(top, rgba(64,88,158,1) 0%, rgba(22,28,51,1) 100%);
	// background: -ms-linear-gradient(top, rgba(64,88,158,1) 0%, rgba(22,28,51,1) 100%);
	// background: linear-gradient(to bottom, rgba(64,88,158,1) 0%, rgba(22,28,51,1) 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40589e', endColorstr='#161c33', GradientType=0 );
	border-top: 1px solid #414E5B;
	padding-top: 5px;

	ul {
		padding: 0;
		li {
			padding: .25em;
			display: inline-block;
			text-align: center;
			min-width: 55px;
		 	&.active {
		 		a {
		 			color: #89be38;
		 			pointer-events: none;
		 			&:hover {
		 				color: #89be38;
		 			}
		 		}
		 	}
			a {
			 	color: #ccc;
			 	display: block;
			 	&:hover {
			 		color: #fff;
			 	}
			 	i {
			 		display: block;
			 		font-size: 32px;
			 	}
			 	span {
					font-size: .7em;
					text-align: center;
					text-transform: uppercase;
			 	}
			 }
		}
	}
}

.wrapper {
	// background: #f2f2f2;
	background: #ffffff;
	.title-section {
		font-size: 1.15em;
		font-weight: bold;
		margin: 0;
		padding: .5rem;
		text-transform: uppercase;
		span {
			padding-top: 5px;
			float: left;
		}
		a {
			float: right;
			font-size: 1.5rem;
		}
	}
	.title-position {
		background: #DBDBDB;
		border-bottom: 1px solid #C7C7C7;
		border-top: 1px solid #C7C7C7;
		font-size: 1.15em;
		font-weight: bold;
		margin: 0;
		padding: .5rem;
		text-transform: uppercase;
		span {
			float: left;
		}
		img {
			 height: 20px ;
			 float: right;
		}
		i {
			 float: right;
		}
	}
	.club-player-card {
		background: #fff;
		border: 1px solid $default-border-color;
		border-radius: 8px 8px 0 0;
		margin: 1rem .5rem 0 .5rem;
		position: relative;
		text-align: center;
		.player-img {
			display: inline-block;
			margin: 0;
			img {
				width: 96px;
			}
		}
		.ball {
			position: absolute;
			right: 6px;
			top: 6px;
			width: 28px;
		}
		.overall-rating {
			font-size: .9em;
			font-weight: bold;
			left: 6px;
			position: absolute;
			top: 28px;
		}
		.position {
			border-bottom-width: 2px;
			border-bottom-style: solid;
			font-size: 1.2em;
			font-weight: bold;
			left: 6px;
			line-height: 18px;
			position: absolute;
			top: 6px;
		}
		.player-name {
			background: #EAEAEA;
			border-top: 1px solid $default-border-color;
			line-height: 18px;
			text-align: center;
			span {
				font-size: .75em;
				font-weight: bold;
			}
		}
		.more-data {
			background: #FDFDFD;
			border-top: 1px solid $default-border-color;
			line-height: 14px;
			padding: .2em;
			text-align: center;
			span {
				display: block;
				font-size: .7em;
			}
		}
	}
	.club-info {
		position: relative;
		.avatar {
			position: absolute;
			top: .5em;
			right: .5em;
			width: 55px;
			padding: .25em;
		}
		.details {
			list-style: none;
			padding: 0;
			li {
				font: 13px/24px  Arial, Helvetica;
				margin-left: 8px;
				padding-left: 5px;
				position: relative;
				width: 100%;
				&::before {
					background: #FFB632;
					border-radius: 50%;
					content: " ";
					height: 5px;
					left: -6px;
					position: absolute;
					top: 10px;
					width: 5px;
				}
			}
		}
	}
	.tops {
		font-size: .9em;
		padding: 2px 8px 0 8px;
		.img {
			display: inline-block;
			img {
				background: #f9f9f9;
				border: 1px solid $default-border-color;
				width: 32px;
			}
		}
		.age {
			display: inline-block;
			margin-left: .5rem;
			max-width: 52px;
			min-width: 52px;
		}
		.overall_rating {
			display: inline-block;
			margin-left: .5rem;
			max-width: 20px;
			min-width: 20px;
			span {
				display: block;
				text-align: center;
			}
		}
		.ball {
			display: inline-block;
			margin-left: .5rem;
			img {
				width: 20px;
			}
		}
		.position {
			display: inline-block;
			margin-left: .5rem;
			max-width: 29px;
			min-width: 29px;
			text-align: center;
		}
		.name {
			display: inline-block;
			margin-left: .5rem;
		}
	}
	.table-economy {
		font-size: .9em;
		width: 100%;
		thead {
			th {
				padding: .5em 1em;
			}
		}
		tbody {
			.data {
				background: #f9f9f9;
				border: 1px solid #f1eff3;
				td {
					padding: .5em 0;
				}
				.date {
					padding-left: 1em;
				}
				.type {

				}
				.movement {
					text-align: right;
				}
				.cash {
					padding-right: 1em;
					text-align: right;

				}
			}
			.description {
				background: #fff;
				border: 1px solid #f1eff3;
				td {
					padding: 1em 1.5em;
				}
			}
		}

	}
}

.scrolling-wrapper {
	.card {
		display: inline-block;
		background: transparent;
		&.participants {
			border: none;
			max-width: 48px;
			min-width: 48px;
			padding: .25em;
			text-align: center;
			&.active {
				background: rgba(0, 0, 0, .30);
				pointer-events: none;
			}
			&:hover {
				background: rgba(0, 0, 0, .1);
			}
			a {
				text-align: center;
				img {
					display: block;
					height: auto;
					margin: 0 auto;
					width: 32px;
				}
				span {
					color: #fff;
					display: block;
					font-size: .6em;
					margin-top: 3px;
  					overflow: hidden;
  					text-overflow: ellipsis;
					text-transform: uppercase;
					white-space: nowrap;
				}
			}
		}
	}
}

.single-chart {
  width: 100px;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}