// Fonts

@import "../variables";

.wrapper {
	background: #f9f9f9;
}

.competition-header {
	background: #353f48;
	margin-top: 55px;
	padding: .75rem .25rem;
	.logo {
		display: table-cell;
		vertical-align: middle;
		i {
			background: #fff;
			border-radius: 50%;
			color: $success;
			display: block;
			font-size: 2.75em;
			padding: 8px;
		}
	}
	.title {
		display: table-cell;
		padding-left: 1em;
		vertical-align: middle;
		position: relative;
		h3 {
			color: #fff;
			font-size: 1.5em;
			margin: 0;
		}
		.subtitle {
			color: #AAAAAA;
			display: block;
			font-size: .8em;
		}
	}
}

.competition-menu {
	background: #353f48;
	border-top: 1px solid #414E5B;
	ul {
		padding: 0;
		.item {
			display: inline-block;
			min-width: 55px;
			padding: .25em;
			text-align: center;
			&.new-section {
				border-left: 1px solid #414E5B;
				margin-left: .5em;
				padding-left: 1em;
			}
		 	&.active {
		 		a {
		 			color: #89be38;
		 			pointer-events: none;
		 			&:hover {
		 				color: #89be38;
		 			}
		 		}
		 	}
			a {
			 	color: #ccc;
			 	display: block;
			 	position: relative;
			 	&:hover {
			 		color: #fff;
			 	}
			 	i {
			 		display: block;
			 		font-size: 32px;
			 	}
			 	span {
					font-size: .7em;
					text-align: center;
					text-transform: uppercase;
			 	}
			 	.counter {
					border: 1px solid #353f48;
					font-size: .9em;
					min-width: 21px;
					position: absolute;
					right: -5px;
					top: 16px;
			 	}
			 }
		}
	}
}

.competitions-list {
	margin: 0;
	padding-bottom: 1em;
	.competition-item {
		background: #fff;
		border-radius: 4px;
		border: 1px solid #EBEBEB;
		margin-top: 1em;
		&:hover {
			background: #F7F7F6;
		}
		.logo {
			display: inline-block;
			padding: 1em;
			text-align: center;
			img {
				width: 64px;
				border-radius: 4px;
			}
		}
		.links {
			display: inline-block;
			border-left: 1px solid #EBEBEB;
			font-size: .9em;
			padding: 1.5em;
			vertical-align: top;
			h5 {
				font-size: .9em;
				font-weight: bold;
				margin: 0;
				padding-bottom: .5em;
				text-transform: uppercase;
			}
			ul {
				font-size: .9em;
				line-height: 1.25rem;
				list-style: none;
				padding: 0 1em;
				li {;
					a {
						font-size: 1em;
					}
				}
			}
		}
	}
}

.season-selector {
	background: #fff;
	border-bottom: 1px solid #E1E1E1;
	padding: 1em 0;
	min-height: 80.53px;
	label {
		display: block;
		font-size: 11px !important;
		font-weight: bold;
		margin-bottom: .25em;
		padding-left: .25em;
	}
	.btn, a{
	  font-size: 11px !important;
	}
}

.competition-phase-group-selector {
	background: #fff;
	border-bottom: 1px solid #E1E1E1;
	padding: 1em 0;
	min-height: 80.53px;
	label {
		display: block;
		font-size: 11px !important;
		font-weight: bold;
		margin-bottom: .25em;
		padding-left: .25em;
	}
	select {
		width: 120px;
	}
	.btn, a{
	  font-size: 11px !important;
	}
}

.team-selector {
	background: #fff;
	border-bottom: 1px solid #E1E1E1;
	padding: .25em 0;
	min-height: 71.19px;
	label {
		display: block;
		font-size: 11px !important;
		font-weight: bold;
		margin-bottom: .25em;
		padding-left: .25em;
	}
	select {
		width: 120px;
	}
	.btn, a{
	  font-size: 11px !important;
	}
}

.logo_winner {
	top: 5px;
	left: 5px;
	position: absolute;
	z-index: 1;
	width: 100%;
	img {
		width: 32px;
	}
}

.final-results {
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #eee;
	margin-bottom: 1em;
	padding: 1em;
	width: 100%;
	position: relative;
	overflow-y: hidden;
	&.compressed {
		max-height: 135px;
	}
	#show_button {
		border: 1px solid #eee;
		bottom: 5px;
		font-size: .7em;
		left: 5px;
		padding: .25em .5em;
		position: absolute;
	}
	.round-name {
		color: $gray-600;
		text-align: right;
	}
}

.table-results {
	font-size: .9em;
	line-height: 1.2em;
	padding: 0;
	margin: 0;
	margin-bottom: 2em;
	thead {
		th {
			border: none;
			padding: 1em .25em;
			text-transform: uppercase;
		}
	}
	tbody {
		tr {
			&:hover {
				td {
					background: #f5f5f5;
				}
				.names {
					.name {
						color: #eb9114;
					}
					.description {
						color: #eb9114;
					}
				}
				.pos {
					color: #eb9114;
				}
				.pt {
					background: #eb9114;
					border: none;
					color: #fff;
				}
			}
			&:last-child {
				border-bottom: 1px solid #f2f2f2;
			}
			td {
				background: #fff;
				border-top: 1px solid #f2f2f2;
				font-size: .8rem;
				padding: .35em .25em;
				vertical-align: middle;
				&.text-zero {
					color: $gray-500;
				}
			}
			.names {
				a {
					color: $gray-900;
					.description {
						color: $gray-600;
						text-transform: none;
					}
				}
			}
			.data {
				min-width: 23px;
			}
			.zones {
				padding-left: .5em;
				img {
					width: 16px;
				}
			}
			.pos {
				border-right: 1px solid #f2f2f2;
				padding: .5em;
			}
			.img {
				padding-left: .5em;
				img {
					width: 24px;
				}
			}
			.pt {
				padding: 0 .5em;
				background: #f9f9f9;
				border-left: 1px solid #f2f2f2;
			}
		}

	}
}

.table-stats-title {
	font-size: .9em;
	font-weight: bold;
	padding: 0 1.25em .75em 1.25em;
	display: block;
}
.table-stats {
	background: #fff;
	border-top: 1px solid #f2f2f2;
	color: $gray-600;
	font-size: .8em;
	line-height: 1.2em;
	.item {
		border-bottom: 1px solid #f2f2f2;
	}
}

.calendar {
	width: 100%;
	.days {
		&.inactive {
			opacity: .6;
		}
		td {
			border-bottom: 1px solid #f2f2f2;
			font-size: .9em;
			i {
				font-size: .8em;
			}
		}
	}
	.round-trip {
		td {
			border-bottom: 1px solid #f2f2f2;
			font-size: .8em;
			padding: .5em;
			text-align: center;
			span {
				color: $info;
				text-transform: uppercase;
			}
		}
	}
	.matches {
		font-size: .8em;
		line-height: 1.2em;
		&.inactive {
			td {
				background: #f9f9f9;
				opacity: .6;
			}
			.img {
				img {
  					-webkit-filter: grayscale(100%);
  					filter: grayscale(100%);
				}
			}
		}
		td {
			background: #fff;
			border-bottom: 1px solid #f2f2f2;
			padding: .75em .3em;
			vertical-align: middle;
		}
		.img {
			img {
				width: 28px;
			}
		}
		.score {
			font-weight: bold;
			.result {
				background: #eb9114;
				color: #fff;
			}
		}
	}
}

.stats {
	background: #fff;
	border-top: 1px solid #f2f2f2;
	font-size: .9em;
	width: 100%;
	tbody {
		.item {
			&:hover {
				background-color: #FFFEF0;
				td {
					color: #eb9114;
				}
				.total {
					background: #eb9114;
					color: #fff;
				}
			}
			td {
				border-bottom: 1px solid #f2f2f2;
				padding: .5em;
				vertical-align: middle;
			}
			.pos {
				border-right: 1px solid #f2f2f2;
				font-size: 1em;
				font-weight: bold;
				min-width: 30px;
				text-align: right;
			}
			.player-img {
				padding: 0 .5em;
				vertical-align: bottom;
				img {
					width: 38px;
				}
			}
			.player-name {
				font-size: .9em;
				width: 100%;
			}
			.total {
				font-size: 1em;
				font-weight: bold;
				padding-left: 1em;
				padding-right: 1em;
				text-align: right;
			}
		}
		.detail {
			td {
				border-bottom: 1px solid #f2f2f2;
				font-size: .85em;
				padding: .5em 1em;
			}
		}
	}
}

.playoffs {
	.playoffs-box {
		font-size: 0px;
		overflow-x: auto;
		white-space: nowrap;
	}
	.playoffs-table {
	    // border-collapse: separate !important;
	    // border-spacing: 0;

	    display: inline-block;
	    font-size: .9rem;
	    vertical-align: middle;
		thead {
			tr {
				th {
					color: navy;
					font-size: 12.5px;
					padding-bottom: 1em;
					text-transform: uppercase;
				}
				.round {
					min-width: 238px;
				}
				.line {
					min-width: 15px;
				}
			}
		}
		tbody {
			td {
				height: 32px;
				padding: 0;
			}
			.clash {
				background: #fff;
				min-width: 214px;
				&.winner {
					background: #FCFEEE;
					.participant {
						.name, .result {
							background: #FCFEEE;
							font-weight: bold;
						}
					}
				}
				.participant {
					display: block;
					font-size: .8em;
					height: 100%;
					&.local {
						border-left: 1px solid #B3D0A7;
						border-right: 1px solid #B3D0A7;
						border-top: 1px solid #B3D0A7;
						border-radius: 4px 4px 0px 0px;
						-moz-border-radius: 4px 4px 0px 0px;
						-webkit-border-radius: 4px 4px 0px 0px;
					}
					&.visitor {
						border-left: 1px solid #B3D0A7;
						border-right: 1px solid #B3D0A7;
						border-bottom: 1px solid #B3D0A7;
						border-top: 1px solid #E4E4E4;
						border-radius: 0px 0px 4px 4px;
						-moz-border-radius: 0px 0px 4px 4px;
						-webkit-border-radius: 0px 0px 4px 4px;
					}
					.logo {
						border-right: 1px solid #E4E4E4;
						float: left;
						width: 32px;
						height: 100%;
						padding: .25em;
						vertical-align: middle;
						img {
							display: block;
							margin-left: auto;
							margin-right: auto;
							width: 24px;
						}
					}
					.name {
						background: #FBFBFB;
						float: left;
						height: 100%;
						max-width: 150px;
						padding: .5em;
						vertical-align: middle;
						width: 150px;
					}
					.result {
						border-left: 1px solid #E4E4E4;
						display: block;
						float: right;
						height: 100%;
						padding: .5em;
						text-align: center;
						vertical-align: middle;
						min-width: 34px;
					}
				}

			}
			.line {
				background-color: transparent;
				min-width: 12px;
				&.top {
					border-top: 1px solid #B3D0A7;
				}
				&.bottom {
					border-bottom: 1px solid #B3D0A7;
				}
				&.right {
					border-right: 1px solid #B3D0A7;
				}
				&.left {
					border-left: 1px solid #B3D0A7;
				}
			}
		}
	}

	.round {
		background: #ccc;
		.name {
			font-size: 1.1em;
			font-weight: bold;
		}
	}

	.match {

	}
}

.scrolling-wrapper {
	.card {
		display: inline-block;
		background: transparent;
		&.competitions {
			border: none;
			max-width: 48px;
			min-width: 48px;
			padding: .25em;
			text-align: center;
			&.active {
				background: rgba(0, 0, 0, .30);
				pointer-events: none;
			}
			&:hover {
				background: rgba(0, 0, 0, .1);
			}
			a {
				text-align: center;
				img {
					display: block;
					height: auto;
					margin: 0 auto;
					width: 32px;
				}
				span {
					color: #fff;
					display: block;
					font-size: .6em;
					margin-top: 3px;
  					overflow: hidden;
  					text-overflow: ellipsis;
					text-transform: uppercase;
					white-space: nowrap;
				}
			}
		}
	}
}

.modal {
	margin-top: 55px;
}

.match-stadistics {
	width: 100%;
	tr {
		td {
			border-top: 1px solid #f2f2f2;
			padding: .5em .25em;
		}
	}
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.table-results {
		tbody {
			-webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
			-moz-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
			box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
			.zones {
				border-left: 1px solid #f2f2f2;
			}
			.pt {
				border-right: 1px solid #f2f2f2;
			}
		}
	}

	.table-stats-title {
		padding: 0 0 .75em 0;
	}

	.table-stats {
		border-left: 1px solid #f2f2f2;
		border-right: 1px solid #f2f2f2;
		-webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
		-moz-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
		box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
		margin-bottom: 2em;
	}
	.calendar {
		.matches {
			.local {
				border-left: 1px solid #f2f2f2;
			}
			.visitor {
				border-right: 1px solid #f2f2f2;
			}
		}
	}
	.stats {
		tbody {
			-webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
			-moz-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
			box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.table-results {
		tbody {
			.data {
				min-width: 32px;
			}
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}