// Fonts

@import "../variables";

.wrapper {
	background: #f9f9f9;
}

.competition-header {
	background: #353f48;
	margin-top: 55px;
	padding: .75rem .25rem;
	.logo {
		display: table-cell;
		vertical-align: middle;
		i {
			background: #fff;
			border-radius: 50%;
			color: $success;
			display: block;
			font-size: 2.75em;
			padding: 8px;
		}
	}
	.title {
		display: table-cell;
		padding-left: 1em;
		vertical-align: middle;
		position: relative;
		h3 {
			color: #fff;
			font-size: 1.5em;
			margin: 0;
		}
		.subtitle {
			color: #AAAAAA;
			display: block;
			font-size: .8em;
		}
	}
}

.competition-menu {
	background: #353f48;
	border-top: 1px solid #414E5B;
	ul {
		padding: 0;
		.item {
			display: inline-block;
			min-width: 55px;
			padding: .25em;
			text-align: center;
			&.new-section {
				border-left: 1px solid #414E5B;
				margin-left: .5em;
				padding-left: 1em;
			}
		 	&.active {
		 		a {
		 			color: #89be38;
		 			pointer-events: none;
		 			&:hover {
		 				color: #89be38;
		 			}
		 		}
		 	}
			a {
			 	color: #ccc;
			 	display: block;
			 	position: relative;
			 	&:hover {
			 		color: #fff;
			 	}
			 	i {
			 		display: block;
			 		font-size: 32px;
			 	}
			 	span {
					font-size: .7em;
					text-align: center;
					text-transform: uppercase;
			 	}
			 	.counter {
					border: 1px solid #353f48;
					font-size: .9em;
					min-width: 21px;
					position: absolute;
					right: -5px;
					top: 16px;
			 	}
			 }
		}
	}
}

.table-results {
	font-size: .9em;
	line-height: 1.2em;
	padding: 0;
	margin: 0;
	margin-bottom: 3em;
	thead {
		th {
			border: none;
			padding: 1em .25em;
			text-transform: uppercase;
		}
	}
	tbody {
		tr {
			&:hover {
				td {
					background: #f5f5f5;
				}
				.names {
					.name {
						color: #eb9114;
					}
					.description {
						color: #eb9114;
					}
				}
				.pos {
					color: #eb9114;
				}
				.pt {
					background: #eb9114;
					border: none;
					color: #fff;
				}
			}
			&:last-child {
				border-bottom: 1px solid #f2f2f2;
			}
			td {
				background: #fff;
				border-top: 1px solid #f2f2f2;
				font-size: .8rem;
				padding: .35em .25em;
				vertical-align: middle;
				&.text-zero {
					color: $gray-500;
				}
			}
			.names {
				a {
					color: $gray-900;
					.description {
						color: $gray-600;
						text-transform: none;
					}
				}
			}
			.data {
				min-width: 23px;
			}
			.zones {
				padding-left: .5em;
				img {
					width: 16px;
				}
			}
			.pos {
				border-right: 1px solid #f2f2f2;
				padding: .5em;
			}
			.img {
				padding-left: .5em;
				img {
					width: 24px;
				}
			}
			.pt {
				padding: 0 .5em;
				background: #f9f9f9;
				border-left: 1px solid #f2f2f2;
			}
		}

	}
}

.calendar {
	width: 100%;
	.days {
		&.inactive {
			opacity: .6;
		}
		td {
			border-bottom: 1px solid #f2f2f2;
		}
	}
	.matches {
		font-size: .9em;
		line-height: 1.2em;
		&.inactive {
			td {
				background: #f9f9f9;
				opacity: .6;
			}
			.img {
				img {
  					-webkit-filter: grayscale(100%);
  					filter: grayscale(100%);
				}
			}
		}
		td {
			background: #fff;
			border-bottom: 1px solid #f2f2f2;
			padding: .6em .3em;
			vertical-align: middle;
		}
		.img {
			img {
				width: 28px;
			}
		}
		.score {
			font-weight: bold;
			.result {
				background: #eb9114;
				color: #fff;
			}
		}
	}
}

.scrolling-wrapper {
	.card {
		display: inline-block;
		background: transparent;
		&.competitions {
			border: none;
			max-width: 48px;
			min-width: 48px;
			padding: .25em;
			text-align: center;
			&.active {
				background: rgba(0, 0, 0, .30);
				pointer-events: none;
			}
			&:hover {
				background: rgba(0, 0, 0, .1);
			}
			a {
				text-align: center;
				img {
					display: block;
					height: auto;
					margin: 0 auto;
					width: 32px;
				}
				span {
					color: #fff;
					display: block;
					font-size: .6em;
					margin-top: 3px;
  					overflow: hidden;
  					text-overflow: ellipsis;
					text-transform: uppercase;
					white-space: nowrap;
				}
			}
		}
	}
}

#updateModal {
	margin-top: 55px;
}

.match-stadistics {
	width: 100%;
	tr {
		td {
			border-top: 1px solid #f2f2f2;
			padding: .5em .25em;
		}
	}
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.table-results {
		tbody {
			.zones {
				border-left: 1px solid #f2f2f2;
			}
			.pt {
				border-right: 1px solid #f2f2f2;
			}
		}
	}
	.calendar {
		.matches {
			.local {
				border-left: 1px solid #f2f2f2;
			}
			.visitor {
				border-right: 1px solid #f2f2f2;
			}
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.table-results {
		tbody {
			.data {
				min-width: 32px;
			}
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}