// Fonts

@import "../variables";

.market-header {
	background: #353f48;
	margin-top: 54px;
	padding: .75em 0;
	h3 {
		color: #fff;
		margin: 0;
	}
	img {
		width: 55px;
	}
	.subname {
		color: #979797;
		display: block;
		font-weight: bold;
		font-size: .8em;
	}
}

.market-menu {
	background: #353f48;
	border-top: 1px solid #414E5B;
	padding: 5px 0;

	ul {
		padding: 0;
		li {
			padding: .25em;
			display: inline-block;
			text-align: center;
			min-width: 55px;
		 	&.active {
		 		a {
		 			color: #89be38;
		 			pointer-events: none;
		 			&:hover {
		 				color: #89be38;
		 			}
		 		}
		 	}
			a {
			 	color: #ccc;
			 	display: block;
			 	&:hover {
			 		color: #fff;
			 	}
			 	i {
			 		display: block;
			 		font-size: 32px;
			 	}
			 	span {
					font-size: .7em;
					text-align: center;
					text-transform: uppercase;
			 	}
			 }
		}
	}
}

.wrapper {
	background: #ffffff;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}