// Fonts

@import "../variables";
.wrapper {
	background: #ffffff;
}

.market-header {
	background: #353f48;
	margin-top: 55px;
	padding: .75rem .25rem;
	.logo {
		display: table-cell;
		vertical-align: middle;
		i {
			background: #fff;
			border-radius: 50%;
			color: #be0346;
			display: block;
			font-size: 4em;
			padding: 5px;
		}
	}
	.title {
		display: table-cell;
		padding-left: 1em;
		vertical-align: middle;
		position: relative;
		h3 {
			color: #fff;
			font-size: 1.5em;
			margin: 0;
		}
		.subtitle {
			color: #AAAAAA;
			display: block;
			font-size: .8em;
		}
	}
	.market-state {
		.badge {
			display: inline;
			font-size: .6rem;
			font-weight: normal;
			text-transform: uppercase;
		}
	}
}

.market-menu {
	background: #353f48;
	border-top: 1px solid #414E5B;
	ul {
		padding: 0;
		.item {
			display: inline-block;
			min-width: 55px;
			padding: .25em;
			text-align: center;
			&.new-section {
				border-left: 1px solid #414E5B;
				margin-left: .5em;
				padding-left: 1em;
			}
		 	&.active {
		 		a {
		 			color: #89be38;
		 			pointer-events: none;
		 			&:hover {
		 				color: #89be38;
		 			}
		 		}
		 	}
			a {
			 	color: #ccc;
			 	display: block;
			 	position: relative;
			 	&:hover {
			 		color: #fff;
			 	}
			 	i {
			 		display: block;
			 		font-size: 32px;
			 	}
			 	span {
					font-size: .7em;
					text-align: center;
					text-transform: uppercase;
			 	}
			 	.counter {
					border: 1px solid #353f48;
					font-size: .9em;
					min-width: 21px;
					position: absolute;
					right: -5px;
					top: 16px;
			 	}
			 }
		}
	}
}

.season-selector {
	background: #fff;
	border-bottom: 1px solid #E1E1E1;
	border-top: 1px solid #E1E1E1;
	padding: 1em 0;
	min-height: 80.53px;
	label {
		display: block;
		font-size: 11px !important;
		font-weight: bold;
		margin-bottom: .25em;
		padding-left: .25em;
	}
	.btn, a{
	  font-size: 11px !important;
	}
}

.transfer {
	background: #f9f9f9;
	.header {
		background: #EEEEEE;
		border-bottom: 1px solid #f1eff3;
		padding: .5rem .5rem 1rem .5rem;
		h2 {
			color: #4ea800;
			font-weight: 400;
			font-size: 28px;
			line-height: 1.3em;
			margin: .5em 0;
			padding: .25rem 0;
		}
		.filters {
			a {
				background-color: $blue;
				border-radius: 1rem;
				color: #ffffff;
				cursor: pointer;
				font-size: .9em;
				padding: .6em 1.25em;
			}
		}
	}

	.content {
		.item {
			background: #ffffff;
			border-left: 1px solid #f1eff3;
			border-radius: .25rem .25rem 0 0;
			border-right: 1px solid #f1eff3;
			border-top: 1px solid #f1eff3;
			font-size: .9em;
			height: 120px;
			line-height: 1.25em;
			margin: 0 .25rem;
			position: relative;
			&.empty {
				height: auto;
				margin: 1em;
				padding: 1em;
				text-align: center;
			}
			.player-img {
				bottom: 0;
				left: 0;
				position: absolute;
				width: 80px;
			}
			.position {
				border: 1px solid #ffffff;
				border-radius: 50%;
				color: #ffffff;
				font-size: .6em;
				height: 24px;
				line-height: 2.1em;
				padding: .25rem;
				position: absolute;
				left: 5px;
				text-align: center;
				top: 5px;
				width: 24px;
			}
			.player-favorite {
				color: $gray-500;
				cursor: pointer;
				font-size: 1.2rem;
				position: absolute;
				right: 68px;
				top: 7px;
				i {
					&.active {
						color: $danger;
					}
					&.inactive {
						color: $gray-500;
					}
				}
			}
			.player-ball {
				height: 24px;
				position: absolute;
				right: 20px;
				top: 5px;
				width: 24px;
			}
			.name {
				font-size: .85rem;
				font-weight: bold;
				left: 59px;
				position: absolute;
				text-transform: uppercase;
				top: 9px;
				.player-info {
					color: $info;
					cursor: pointer;
					margin-left: .25em;
					&:hover {
						color: darken($info, 15%);
					}
				}
			}
			.icon-position {
				position: absolute;
				right: 48px;
				top: 9px;
				width: 16px;
			}
			.overall {
				border-radius: 50%;
				border: 1px solid #ffffff;
				color: #000000;
				font-size: .8em;
				font-weight: bold;
				height: 24px;
				line-height: 1.35em;
				padding: .25rem;
				position: absolute;
				right: 5px;
				text-align: center;
				top: 5px;
				width: 24px;
			}
			.icon-transfer-out {
				color: $danger;
				font-size: 2em;
				left: 69px;
				opacity: .4;
				position: absolute;
				top: 35px;
			}
			.participant-from-logo {
				height: 26px;
				left: 99px;
				position: absolute;
				top: 35px;
				width: 26px;
				opacity: .4;
			}
			.participant-from-name {
				font-size: .6rem;
				font-weight: bold;
				left: 130px;
				position: absolute;
				text-transform: uppercase;
				top: 35px;
				opacity: .4;
				&.none {
					top: 40px;
				}
			}
			.participant-from-subname {
				font-size: .55rem;
				left: 130px;
				position: absolute;
				top: 46px;
				opacity: .4;
			}
			.icon-transfer-in {
				color: $success;
				font-size: 2em;
				left: 89px;
				position: absolute;
				top: 72px;
			}
			.participant-to-logo {
				height: 42px;
				left: 119px;
				position: absolute;
				top: 65px;
				width: 42px;
			}
			.participant-to-name {
				font-size: .8rem;
				font-weight: bold;
				left: 165px;
				position: absolute;
				text-transform: uppercase;
				top: 72px;
				&.none {
					top: 77px;
				}
			}
			.participant-to-subname {
				font-size: .65rem;
				left: 165px;
				position: absolute;
				top: 86px;
			}
			.nation-logo {
				height: 20px;
				left: 32px;
				position: absolute;
				top: 7px;
				width: 20px;
			}
		}
		.item-header {
			margin: 0 .25rem;
			.type {
				float: left;
				font-size: .7em;
				font-weight: bold;
				padding-bottom: .15rem;
				text-transform: uppercase;
			}
			.date {
				color: $gray-600;
				font-size: .7em;
				padding-bottom: .15rem;
				float: right;
			}
		}
		.item-bottom {
			background: #e2e3e5;
			border-radius: 0 0 .25rem .25rem;
			color: #383d41;
			// border-bottom: 1px solid #f1eff3;
			font-size: .8em;
			line-height: 1.25em;
			margin: 0 .25rem 1em .25rem;
			padding: .75em;
			text-transform: uppercase;
			&.cession {
				background: #d1ecf1;
				color: #0c5460;
			}
			&.dismiss {
				background: #f8d7da;
				color: #721c24;
			}
			&.clause {
				background: #d4edda;
				color: #155724;
			}
			&.free {
				background: #fff3cd;
				color: #856404;
			}
			.cost {
				font-size: 1.25em;
				font-weight: bold;
			}
		}
	}
}

.my-team {
	background: #f9f9f9;
	.header {
		background: #F2F2F2;
		padding: .5rem 0;
		position: relative;
		.logo {
			-moz-box-shadow: 14px 0px 9px -11px rgba(148,148,148,1);
			-webkit-box-shadow: 14px 0px 9px -11px rgba(148,148,148,1);
			box-shadow: 14px 0px 9px -11px rgba(148,148,148,1);
			margin-left: .5rem;
			margin-right: 1rem;
			padding-right: .5rem;
			vertical-align: top;
			width: 75px;
		}
		.participant {
			display: inline-block;
			padding-top: .5rem;
			.name {
				font-size: 1.25em;
				font-weight: bold;
				margin: 0;
			}
			.subname {
				color: $gray-600;
				display: block;
				font-size: .8em;
			}
		}
	}

	.content {
		position: relative;
		.info {
			background: #ffffff;
			.item {
				border-top: 1px solid #f1eff3;
				font-size: .9em;
				line-height: 1.8em;
				padding: .5rem .25rem;
				vertical-align: middle;
				.title {
					color: $gray-600;
					float: left;
				}
				.description {
					float: right;
					text-align: right;
					&.budget {
						position: relative;
						.data {
							font-size: 1.2em;
							font-weight: bold;
						}
						.icon {
							position: absolute;
							right: 80px;
							top: 2px;
							font-size: 1.75em;
							color: #646B80;
						}
					}
					.data {
						font-size: 1em;
					}
					.info {
						color: $gray-600;
						font-size: .75em;
						line-height: 1rem;
						margin-left: .5rem;
					}
					.warning {
						color: $warning;
						font-size: .85em;
						margin-left: .5rem;
					}
				}
			}
		}
		.positions {
			.title {
				background: #F2F2F2;
				border-bottom: 1px solid $border-color;
				border-top: 1px solid $border-color;
				margin: 0;
				padding: .5rem 0;
				.icon {
					margin-top: .25rem;
					width: 16px;
				}
			}
			.detail {
				.wrap {
					background: #f9f9f9;
					margin: 0;
					padding: 0;
					.item {
						background: #fff;
						border: 1px solid #E9E9E9;
						border-radius: .25rem;
						font-size: .9em;
						height: 92px;
						line-height: 1.25em;
						margin: .5rem .5rem 0 .5rem;
						position: relative;
						.player-img {
							bottom: 0;
							left: 0px;
							position: absolute;
							width: 55px;
						}
						.position {
							border-radius: 50%;
							font-size: .8em;
							height: 24px;
							left: 5px;
							line-height: 1.3em;
							padding-top: .43em;
							position: absolute;
							text-align: center;
							top: 5px;
							width: 24px;
							.text {
								color: #ffffff;
								font-weight: bold;
							}
						}
						.player-favorite {
							color: $gray-500;
							cursor: pointer;
							font-size: 1.2rem;
							position: absolute;
							right: 50px;
							top: 7px;
							i {
								&.active {
									color: $danger;
								}
								&.inactive {
									color: $gray-500;
								}
							}
						}
						.ball-img {
							height: 24;
							position: absolute;
							right: 20px;
							top: 5px;
							width: 24px;
						}
						.overall {
							border: 1px solid grey;
							border-radius: 50%;
							font-size: 1em;
							height: 24px;
							line-height: 1.1em;
							padding: .25em;
							position: absolute;
							right: 5px;
							text-align: center;
							top: 5px;
							width: 24px;
							span {
								color: $black;
								font-size: .8em;
							}
						}
						.player-name {
							font-size: .9rem;
							font-weight: bold;
							left: 36px;
							position: absolute;
							text-transform: uppercase;
							top: 9px;
							.player-info {
								color: $info;
								cursor: pointer;
								margin-left: .25em;
								&:hover {
									color: darken($info, 15%);
								}
							}
						}
						.salary {
							color: $gray-600;
							left: 55px;
							position: absolute;
							top: 26px;
							span {
								display: inline-block;
								font-size: .75em;
    							font-weight: 400;
							}
						}
						.clause {
							color: $gray-600;
							left: 150px;
							position: absolute;
							top: 26px;
							span {
								display: inline-block;
								font-size: .75em;
    							font-weight: 400;
							}
						}
						.market-icons {
							border-radius: .25rem;
							color: #ffffff;
							font-size: .75em;
							min-width: 25px;
							padding: .1em .3em;
							position: absolute;
							text-align: center;
							&.off {
								opacity: .2;
							}
							&.transferable {
								background-color: $success;
								left: 55px;
								top: 45px;
							}
							&.on-loan {
								background-color: $success;
								left: 85px;
								top: 45px;
							}
							&.untransferable {
								background-color: $danger;
								left: 115px;
								top: 45px;
							}
						}
						.sale-price {
							color: $gray-600;
							left: 55px;
							position: absolute;
							top: 65px;
							span {
								display: inline-block;
								font-size: .75em;
    							font-weight: 400;
							}
						}
						.actions {
							bottom: 8px;
							position: absolute;
							right: 8px;
							button {
								background: #F3F3F3;
								border: 1px solid #DFDDE1;
								font-size: .9em;
								&:hover {
									color: #ffffff;
									background: $primary;
									border: 1px solid darken($primary, 5%);
								}
							}
							.dropdown-menu {
								background: #ffffff;
								border: 1px solid darken($primary, 5%);
								font-size: .9em;
								.dropdown-header {
									background: $primary;
									padding: .5rem;
									color: #ffffff;
									.free {
										color: #FFE093;
										margin-left: .25rem;
									}
								}
								.dropdown-item {
									&:hover {
										color: $gray-900;
										background: #f9f9f9;
									}
									&.disabled {
										color: $gray-500;
										pointer-events: none;
										&:hover {
											background: none;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.sale {
	background: #f9f9f9;
	.header {
		background: #F2F2F2;
		border-bottom: 1px solid #f1eff3;
		padding: .5rem .5rem 1rem .5rem;
		h2 {
			color: #4ea800;
			font-weight: 400;
			font-size: 28px;
			line-height: 1.3em;
			margin: .5em 0;
			padding: .25rem 0;
		}
		.filters {
			a {
				background-color: $blue;
				border-radius: 1rem;
				color: #ffffff;
				cursor: pointer;
				font-size: .9em;
				padding: .6em 1.25em;
			}
		}
	}

	.content {
		.item {
			background: #ffffff;
			border: 1px solid #f1eff3;
			font-size: .9em;
			height: 140px;
			line-height: 1.25em;
			position: relative;
			&.empty {
				height: auto;
				margin: 1em;
				padding: 1em;
				text-align: center;
			}
			.player-img {
				bottom: 0;
				left: 0px;
				position: absolute;
				width: 110px;
			}
			.position {
				border-radius: 50%;
				color: #ffffff;
				font-size: .6em;
				height: 24px;
				left: 5px;
				line-height: 2.1em;
				padding: .25rem;
				position: absolute;
				text-align: center;
				top: 5px;
				width: 24px;
			}
			.player-favorite {
				color: $gray-500;
				cursor: pointer;
				font-size: 1.2rem;
				position: absolute;
				right: 74px;
				top: 7px;
				i {
					&.active {
						color: $danger;
					}
					&.inactive {
						color: $gray-500;
					}
				}
			}
			.player-ball {
				height: 24px;
				position: absolute;
				right: 20px;
				top: 5px;
				width: 24px;
			}
			.name {
				font-size: .9rem;
				font-weight: bold;
				left: 36px;
				position: absolute;
				text-transform: uppercase;
				top: 9px;
				.player-info {
					color: $info;
					cursor: pointer;
					margin-left: .25em;
					&:hover {
						color: darken($info, 15%);
					}
				}
			}
			.icon-position {
				position: absolute;
				right: 50px;
				top: 7px;
				width: 20px;
			}
			.overall {
				border-radius: 50%;
				border: 1px solid #EEEEEE;
				color: #000000;
				font-size: .8em;
				font-weight: bold;
				height: 24px;
				line-height: 1.35em;
				padding: .25rem;
				position: absolute;
				right: 5px;
				text-align: center;
				top: 5px;
				width: 24px;
			}
			.participant-logo {
				background-color: #ffffff;
				border-radius: 50%;
				border: 1px solid #f1eff3;
				left: 95px;
				padding: 2px;
				position: absolute;
				top: 40px;
				width: 28px;
			}
			.participant-name {
				font-size: .6rem;
				font-weight: bold;
				left: 130px;
				position: absolute;
				text-transform: uppercase;
				top: 41px;
			}
			.participant-subname {
				font-size: .55rem;
				left: 130px;
				position: absolute;
				top: 52px;
			}
			.nation-logo {
				background-color: #ffffff;
				border-radius: 50%;
				border: 1px solid #f1eff3;
				left: 95px;
				padding: 2px;
				position: absolute;
				top: 70px;
				width: 28px;
			}
			.nation-name {
				font-size: .6rem;
				font-weight: bold;
				left: 130px;
				position: absolute;
				text-transform: uppercase;
				top: 76px;
			}
			.clause-title {
				font-size: .9em;
				position: absolute;
				right: 95px;
				top: 40px;
			}
			.clause-data {
				position: absolute;
				right: 8px;
				top: 40px;
				.units {
					display: inline-block;
					font-size: .9em;
					font-weight: bold;
				}
				.measure {
					display: inline-block;
					font-size: .7em;
				}
			}
			.price-title {
				font-size: .9em;
				position: absolute;
				right: 95px;
				top: 60px;
			}
			.price-data {
				position: absolute;
				right: 8px;
				top: 60px;
				.units {
					display: inline-block;
					font-size: 1.25em;
					font-weight: bold;
				}
				.measure {
					display: inline-block;
				}
			}
			.buy-now {
				bottom: 8px;
				position: absolute;
				right: 8px;
				a {
					font-size: .9em;
				}
			}
		}
		.item-header {
			.date {
				color: $gray-600;
				font-size: .7em;
				padding-bottom: .25rem;
				text-align: right;
			}
		}
		.item-bottom {
			padding-top: .25rem;
			.phrase {
				font-size: .8em;
			}
		}
	}
}

.search {
	background: #f9f9f9;
	.header {
		background: #EEEEEE;
		border-bottom: 1px solid #f1eff3;
		padding: .5rem .5rem 1rem .5rem;
		h2 {
			color: #4ea800;
			font-weight: 400;
			font-size: 28px;
			line-height: 1.3em;
			margin: .5em 0;
			padding: .25rem 0;
		}
		.filters {
			a {
				background-color: $blue;
				border-radius: 1rem;
				color: #ffffff;
				cursor: pointer;
				font-size: .9em;
				padding: .6em 1.25em;
			}
		}
	}

	.content {
		.item {
			background: #ffffff;
			border: 1px solid #f1eff3;
			border-radius: .25rem;
			font-size: .9em;
			height: 100px;
			line-height: 1.25em;
			margin: .75rem .75rem 0 .75rem;
			position: relative;
			&.empty {
				height: auto;
				margin-bottom: 1em;
				padding: 1em;
				text-align: center;
			}
			&.free {
				border: 1px solid lighten($warning, 25%);
				background: lighten($warning, 35%);
			}
			&.clause-pay {
				border: 1px solid lighten($danger, 25%);
				background: lighten($danger, 30%);
			}
			.showcase {
				background: $success;
				bottom: -6px;
				font-size: .6rem;
				font-weight: 400;
				left: 12px;
				padding: .25rem .25rem .4rem .25rem;
				position: absolute;
				text-transform: uppercase;
				transform: rotate(-90deg);
    			transform-origin: left;
			}
			.untransferable {
				background: $danger;
				bottom: -6px;
				font-size: .5rem;
				font-weight: 400;
				left: 12px;
				padding: .25rem .25rem .4rem .25rem;
				position: absolute;
				text-transform: uppercase;
				transform: rotate(-90deg);
    			transform-origin: left;
			}
			.player-img {
				bottom: 0;
				left: 0;
				position: absolute;
				width: 64px;
			}
			.position {
				border: 1px solid #ffffff;
				border-radius: 50%;
				color: #ffffff;
				font-size: .6em;
				height: 24px;
				line-height: 2.1em;
				padding: .25rem;
				position: absolute;
				left: 5px;
				text-align: center;
				top: 5px;
				width: 24px;
			}
			.player-favorite {
				color: $gray-500;
				cursor: pointer;
				font-size: 1.2rem;
				position: absolute;
				right: 68px;
				top: 7px;
				i {
					&.active {
						color: $danger;
					}
					&.inactive {
						color: $gray-500;
					}
				}
			}
			.player-ball {
				height: 24px;
				position: absolute;
				right: 20px;
				top: 5px;
				width: 24px;
			}
			.name {
				font-size: .85rem;
				font-weight: bold;
				left: 59px;
				position: absolute;
				text-transform: uppercase;
				top: 9px;
				.player-info {
					color: $info;
					cursor: pointer;
					margin-left: .25em;
					&:hover {
						color: darken($info, 15%);
					}
				}
			}
			.icon-position {
				position: absolute;
				right: 48px;
				top: 9px;
				width: 16px;
			}
			.overall {
				border-radius: 50%;
				border: 1px solid #ffffff;
				color: #000000;
				font-size: .8em;
				font-weight: bold;
				height: 24px;
				line-height: 1.35em;
				padding: .25rem;
				position: absolute;
				right: 5px;
				text-align: center;
				top: 5px;
				width: 24px;
			}
			.participant-logo {
				// background: white;
				// border-radius: 50%;
				// border: 1px solid #f1eff3;
				height: 26px;
				left: 59px;
				position: absolute;
				top: 35px;
				width: 26px;
				&.none {
					opacity: .5;
				}
			}
			.participant-name {
				font-size: .6rem;
				font-weight: bold;
				left: 90px;
				position: absolute;
				text-transform: uppercase;
				top: 35px;
				&.none {
					color: $warning;
					top: 40px;
				}
			}
			.participant-subname {
				font-size: .55rem;
				left: 90px;
				position: absolute;
				top: 46px;
			}
			.nation-logo {
				height: 20px;
				left: 32px;
				position: absolute;
				top: 7px;
				width: 20px;
			}
			.nation-name {
				font-size: .6rem;
				font-weight: bold;
				left: 130px;
				position: absolute;
				text-transform: uppercase;
				top: 76px;
			}
			.clause-title {
				font-size: .9em;
				position: absolute;
				right: 95px;
				top: 40px;
			}
			.clause-data {
				position: absolute;
				left: 90px;
				top: 68px;
				.units {
					display: inline-block;
					font-size: .9em;
					font-weight: bold;
				}
				.measure {
					display: inline-block;
					font-size: .7em;
				}
			}
			.price-title {
				font-size: .9em;
				position: absolute;
				right: 95px;
				top: 60px;
			}
			.price-data {
				position: absolute;
				right: 8px;
				top: 60px;
				.units {
					display: inline-block;
					font-size: 1.25em;
					font-weight: bold;
				}
				.measure {
					display: inline-block;
				}
			}
			.clause-pay {
				color: $danger;
				bottom: 42px;
				position: absolute;
				right: 8px;
				font-size: 1em;
				font-weight: bold;
			}
			.actions {
				bottom: 8px;
				position: absolute;
				right: 8px;
				button {
					background: #F3F3F3;
					border: 1px solid #DFDDE1;
					font-size: .9em;
					&:hover {
						color: #ffffff;
						background: $primary;
						border: 1px solid darken($primary, 5%);
					}
				}
				.dropdown-menu {
					background: #ffffff;
					border: 1px solid darken($primary, 5%);
					font-size: .9em;
					.dropdown-header {
						background: $primary;
						padding: .5rem;
						color: #ffffff;
						.free {
							color: #FFE093;
							margin-left: .25rem;
						}
					}
					.dropdown-item {
						&:hover {
							color: $gray-900;
							background: #f9f9f9;
						}
						&.disabled {
							color: $gray-500;
							pointer-events: none;
							&:hover {
								background: none;
							}
						}
					}
				}
			}
		}
	}
	// .content {
	// 	.players-table {
	// 		width: 100%;
	// 		tr {
	// 			border-top: 1px solid #f1eff3;
	// 			&:hover {
	// 				.name {
	// 					color: $primary;
	// 				}
	// 			}
	// 			td {
	// 				padding: .25rem;
	// 			}
	// 			.img {
	// 				img {
	// 					width: 42px;
	// 				}
	// 			}
	// 			.name {
	// 				font-size: .9em;
	// 			}
	// 			.overall {

	// 			}
	// 			.position {

	// 			}
	// 		}
	// 	}
}

.teams {
	background: #f9f9f9;
	.header {
		background: #F2F2F2;
		border-bottom: 1px solid #f1eff3;
		padding: .5rem .5rem 1rem .5rem;
		h2 {
			color: #4ea800;
			font-weight: 400;
			font-size: 28px;
			line-height: 1.3em;
			margin: .5em 0;
			padding: .25rem 0;
		}
	}
	.content {
		.item {
			background: #ffffff;
			border: 1px solid #E5E5E5;
			height: 155px;
			position: relative;
			margin-top: 1em;
			widows: auto;
			&:hover {
				border: 1px solid lighten($secondary, 15%);
				.team-img {
					background: #fff;
					transition: all 1.5s ease;
				}
				.title {
					.name, .subname {
						color: $secondary;
						transition: all .5s ease;
					}
				}
			}
			.team-img {
				background: #f9f9f9;
				border: 1px solid #f1eff3;
				left: 5px;
				padding: 5px;
				position: absolute;
				top: 5px;
				width: 75px;
				z-index: 1;
				-webkit-box-shadow: 1px -1px 5px 0px rgba(168,168,168,1);
				-moz-box-shadow: 1px -1px 5px 0px rgba(168,168,168,1);
				box-shadow: 1px -1px 5px 0px rgba(168,168,168,1);
			}
			.title {
				background: #eee;
				padding: 5px 10px;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				.name {
					color: $gray-900;
					display: block;
					font-size: .9em;
					font-weight: bold;
					padding-left: 80px;
					text-transform: uppercase;
				}
				.subname {
					color: $gray-600;
					display: block;
					font-size: .7em;
					padding-left: 80px;
				}
			}
			.budget {
				color: $gray-900;
				font-size: .9em;
				font-weight: bold;
				padding-left: 1em;
				position: absolute;
				right: 10px;
				top: 56px;
				.measure {
					font-size: .8em;
					font-weight: 400;
				}
			}
			.budget-icon {
				color: #646B80;
				font-size: 1.5em;
				position: absolute;
				right: 90px;
				top: 55px;
			}
		}
	}
}

.team {
	background: #f9f9f9;
	.header {
		background: #F2F2F2;
		padding: .5rem 0;
		position: relative;
		.logo {
			-moz-box-shadow: 14px 0px 9px -11px rgba(148,148,148,1);
			-webkit-box-shadow: 14px 0px 9px -11px rgba(148,148,148,1);
			box-shadow: 14px 0px 9px -11px rgba(148,148,148,1);
			margin-left: .5rem;
			margin-right: 1rem;
			padding-right: .5rem;
			vertical-align: top;
			width: 75px;
		}
		.participant {
			display: inline-block;
			padding-top: .5rem;
			.name {
				font-size: 1.25em;
				font-weight: bold;
				margin: 0;
			}
			.subname {
				color: $gray-600;
				display: block;
				font-size: .8em;
			}
		}
	}

	.content {
		position: relative;
		.info {
			background: #ffffff;
			.item {
				border-top: 1px solid #f1eff3;
				font-size: .9em;
				line-height: 1.8em;
				padding: .5rem .25rem;
				vertical-align: middle;
				.title {
					color: $gray-600;
					float: left;
				}
				.description {
					float: right;
					text-align: right;
					&.budget {
						position: relative;
						.data {
							font-size: 1.2em;
							font-weight: bold;
						}
						.icon {
							position: absolute;
							right: 80px;
							top: 2px;
							font-size: 1.75em;
							color: #646B80;
						}
					}
					.data {
						font-size: 1em;
					}
					.info {
						color: $gray-600;
						font-size: .75em;
						line-height: 1rem;
						margin-left: .5rem;
					}
					.warning {
						color: $warning;
						font-size: .85em;
						margin-left: .5rem;
					}
				}
			}
		}
		.positions {
			.title {
				background: #F2F2F2;
				border-bottom: 1px solid $border-color;
				border-top: 1px solid $border-color;
				margin: 0;
				padding: .5rem 0;
				.icon {
					margin-top: .25rem;
					width: 16px;
				}
			}
			.detail {
				.wrap {
					background: #f9f9f9;
					margin: 0;
					padding: 0;
					.item {
						background: #fff;
						border: 1px solid #E9E9E9;
						border-radius: .25rem;
						font-size: .9em;
						height: 86px;
						line-height: 1.25em;
						margin: .5rem .5rem 0 .5rem;
						position: relative;
						&.transferable {
							border: 1px solid #C1D9C4;
							background: #F6FFF7;
						}
						&.not-allowed {
							border: 1px solid lighten($danger, 25%);
							background: lighten($danger, 30%);
						}
						.player-img {
							bottom: 0;
							left: 0px;
							position: absolute;
							width: 55px;
						}
						.position {
							border-radius: 50%;
							font-size: .8em;
							height: 24px;
							left: 5px;
							line-height: 1.3em;
							padding-top: .43em;
							position: absolute;
							text-align: center;
							top: 5px;
							width: 24px;
							.text {
								color: #ffffff;
								font-weight: bold;
							}
						}
						.nation-logo {
							height: 20px;
							left: 32px;
							position: absolute;
							top: 7px;
							width: 20px;
						}
						.player-favorite {
							color: $gray-500;
							cursor: pointer;
							font-size: 1.2rem;
							position: absolute;
							right: 50px;
							top: 7px;
							z-index: 2;
							i {
								&.active {
									color: $danger;
								}
								&.inactive {
									color: $gray-500;
								}
							}
						}
						.ball-img {
							height: 24;
							position: absolute;
							right: 20px;
							top: 5px;
							width: 24px;
						}
						.overall {
							border: 1px solid grey;
							border-radius: 50%;
							font-size: 1em;
							height: 24px;
							line-height: 1.1em;
							padding: .25em;
							position: absolute;
							right: 5px;
							text-align: center;
							top: 5px;
							width: 24px;
							span {
								color: $black;
								font-size: .8em;
							}
						}
						.player-name {
							font-size: .9rem;
							font-weight: bold;
							left: 59px;
							position: absolute;
							text-transform: uppercase;
							top: 9px;
							.player-info {
								color: $info;
								cursor: pointer;
								margin-left: .25em;
								&:hover {
									color: darken($info, 15%);
								}
							}
						}
						.salary {
							color: $gray-600;
							left: 59px;
							position: absolute;
							top: 26px;
							i {
								font-size: .7em;
							}
							span {
								display: inline-block;
								font-size: .75em;
    							font-weight: 400;
							}
						}
						.clause-data {
							color: $gray-600;
							top: 40px;
							position: absolute;
							left: 59px;
							.units {
								display: inline-block;
								font-size: .9em;
								font-weight: bold;
							}
							.measure {
								display: inline-block;
								font-size: .7em;
							}
						}
						.actions {
							bottom: 8px;
							position: absolute;
							right: 8px;
							z-index: 2;
							button {
								background: #F3F3F3;
								border: 1px solid #DFDDE1;
								font-size: .9em;
								&:hover {
									color: #ffffff;
									background: $primary;
									border: 1px solid darken($primary, 5%);
								}
							}
							.dropdown-menu {
								background: #ffffff;
								border: 1px solid darken($primary, 5%);
								font-size: .9em;
								.dropdown-header {
									background: $primary;
									padding: .5rem;
									color: #ffffff;
									.free {
										color: #FFE093;
										margin-left: .25rem;
									}
								}
								.dropdown-item {
									&:hover {
										color: $gray-900;
										background: #f9f9f9;
									}
									&.disabled {
										color: $gray-500;
										pointer-events: none;
										&:hover {
											background: none;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.negotiations {
	background: #f9f9f9;
	.header {
		background: #F2F2F2;
		padding: .5rem 0;
		position: relative;
		.logo {
			-moz-box-shadow: 14px 0px 9px -11px rgba(148,148,148,1);
			-webkit-box-shadow: 14px 0px 9px -11px rgba(148,148,148,1);
			box-shadow: 14px 0px 9px -11px rgba(148,148,148,1);
			margin-left: .5rem;
			margin-right: 1rem;
			padding-right: .5rem;
			vertical-align: top;
			width: 75px;
		}
		.participant {
			display: inline-block;
			padding-top: .5rem;
			.name {
				font-size: 1.25em;
				font-weight: bold;
				margin: 0;
			}
			.subname {
				color: $gray-600;
				display: block;
				font-size: .8em;
			}
		}
	}
	.selector {
		padding: 1em;
		text-align: center;
		a {
			font-size: .9em;
		}
	}
	.content {
		.offer {
			background: #fff;
			font-size: .9em;
			width: 100%;
			border-bottom: 1px solid #E9E9E9;
			border-top: 1px solid #E9E9E9;
			.info {
				background: #F2F2F2;
				border-bottom: 1px solid #E9E9E9;
				// border-top: 1px solid #E9E9E9;
				padding: .75em 1em;
				h5 {
					font-size: 1.25em;
				}
			}
			.data {
				border-bottom: 1px solid #E9E9E9;
				padding: .75em 1em;
				text-align: center;
				img {
					padding-bottom: .75em;
				}
			}
			.detail {
				font-size: .9em;
				padding: .75em 1em;
				.title {
					display: block;
					font-size: .9rem;
					font-weight: bold;
					text-transform: uppercase;
				}
				.cash {
					display: block;
					padding: .25em 0;
				}
				.players {
					padding: 1em 0;
					.player {
						display: block;
						padding: .25em 0;
						.player-data {
							display: inline-block;
							font-size: .9em;
							line-height: 1.25em;
							vertical-align: bottom;
							.name {
							}
							.sub-name {
								display: block;
								color: $gray-600;
							}
						}
						.player-img {
							display: inline-block;
							margin-left: .25em;
							vertical-align: top;
							width: 28px;
						}
					}
				}
			}
			.actions {
				padding: 0em 1em 1em 1em;
				text-align: center;
				a {
					font-size: .9em;
				}
			}
			.validations {
				border-top: 1px solid #E9E9E9;
				padding: .75em 1em;
				&.invalid {
					background: #FFE1E5;
				}
				.state {
					font-weight: bold;
					text-align: center;
				}
				.warnings {
					font-size: .8em;
					padding-top: 1em;
					.item {
						color: $danger;
					}
				}
			}
		}
	}
}

.searchbox {
	margin: .75rem .25rem 0 .25rem;
	font-size: 1em;
	position: relative;
	label {
		color: #1694CA;
		position: absolute;
		left: .625em;
		top: .5em;
	}
	input {
		font-size: .9rem;
		padding-left: 2.25em;
		padding-right: 2em;
	}
	span {
		color: #a1a8ae;
		cursor: pointer;
		position: absolute;
		right: .625em;
		top: .5em;
		&:hover {
			color: #1694CA;
		}
	}
}

.scrolling-wrapper {
	ul {
		display: inline-block;
		li {
			border: none;
			display: inline-block;
			padding: .25em;
			text-align: center;
			&.active {
				// background: rgba(0, 0, 0, .30);
				pointer-events: none;
			}
			&:hover {
				// background: rgba(0, 0, 0, .1);
			}
			a {
				text-align: center;
			}
		}

	}
	.card {
		display: inline-block;
		background: transparent;
		&.participants {
			border: none;
			max-width: 48px;
			min-width: 48px;
			padding: .25em;
			text-align: center;
			&.active {
				background: rgba(0, 0, 0, .30);
				pointer-events: none;
			}
			&:hover {
				background: rgba(0, 0, 0, .1);
			}
			a {
				text-align: center;
				img {
					display: block;
					height: auto;
					margin: 0 auto;
					width: 32px;
				}
				span {
					color: #fff;
					display: block;
					font-size: .6em;
					margin-top: 3px;
  					overflow: hidden;
  					text-overflow: ellipsis;
					text-transform: uppercase;
					white-space: nowrap;
				}
			}
		}
	}
}

#filtersModal {
	.modal-body {
		.frmFilter {
			font-size: .9em;
			label {
				padding: .25rem 0;
			}
			.bootstrap-select {
				.dropdown-toggle, .dropdown-menu li a {
					font-size: .9em;
				}
			}
			.dropdown-item.active, .dropdown-item:active {
				color: black;
			    background-color: #F2F2F2;
			}
			.dropdown-menu .dropdown-item {
			    padding: .3em .6em;
			}
		}
	}
}

#viewModal, #editModal, #filtersModal {
	margin-top: 55px;
}
.modal-content {
	border: none;
	.modal-header {
		h4 {
			margin: 0;
		}
		&.primary {
			background-color: $primary;
			color: $white;
			.close {
				color: $white;
			}
		}
		&.info {
			background-color: $info;
			color: $white;
			.close {
				color: $white;
			}
		}
	}
	.modal-body {
		.card {
			background: rgba(139,160,184,1);
			border-radius: .25rem;
			border: 1px solid #f1eff3;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ba0b8', endColorstr='#ffffff', GradientType=0 );
			height: 120px;
			position: relative;
			width: 160px;
		    background: -o-linear-gradient(rgba(139,160,184,1) 0%, rgba(162,179,199,1) 50%, rgba(255,255,255,1) 100%);
		    background: -webkit-linear-gradient(rgba(139,160,184,1) 0%, rgba(162,179,199,1) 50%, rgba(255,255,255,1) 100%);
		    background: linear-gradient(rgba(139,160,184,1) 0%, rgba(162,179,199,1) 50%, rgba(255,255,255,1) 100%);
		    .img {
		    	bottom: 0;
		    	left: 30px;
		    	position: absolute;
		    	width: 100px;
		    }
		    .position {
		    	color: white;
		    	font-size: 1.2em;
		    	font-weight: bold;
		    	left: 5px;
		    	position: absolute;
		    	text-align: center;
		    	top: 2px;
		    	width: 35px;
		    }
		    .overall {
		    	color: white;
		    	font-size: 1.6em;
		    	font-weight: bold;
		    	left: 5px;
		    	position: absolute;
		    	text-align: center;
		    	top: 20px;
		    	width: 35px;
		    }
		    .ball {
		    	position: absolute;
		    	right: 8px;
		    	top: 8px;
		    	img {
		    		width: 36px;
		    	}
		    }
		}
		.details {
			font-size: .9em;
			.detail-item {
				border-bottom: 1px solid #f1eff3;
				padding: .5rem 0;
				.title {
					float: left;
				}
				.data {
					color: #a5a5a7;
					float: right;
				}
			}
		}
	}
	.modal-bottom {
		background-color: #f2f2f2;
		padding: 1rem;
		a {
			display: block;
			font-size: .9em;
		}
	}
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.sale {
		.content {
		}
	}
	.team {
		.header {
			.logo {
				margin-left: 0;
			}
		}
	}
	.my-team {
		.header {
			.logo {
				margin-left: 0;
			}
		}
	}
	.negotiations {
		.content {
			.offer {
				background: #fff;
				border-left: 1px solid #E9E9E9;
				border-right: 1px solid #E9E9E9;
				border-radius: 8px;
				font-size: 1em;
				margin-bottom: 1.5em;
				.info {
					border-radius: 8px 8px 0 0;
				}
			}
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}